### Introduction to the Data in Pandas

Data Dictionary for some of the columns of the CSV:
- `company` : Name of the company
- `rank` : Global 500 rank for the company
- `revenues` : Company's total revenue for the fiscal year, in missions of dollars (USD)
- `revenue_change` : Percentage change in revenue between the current and prior fiscal year
- `profits` : Net income for the fiscal year, in millions of dollars (USD)
- `ceo` : Company's Chief Executive Officer
- `industry` : Industry in which the compnay operates
- `sector` : Sector in which the company operates
- `previous_rank` : Global 500 rank for the company for the prior year
- `country` : Country in which the company is headquartered

In [1]:
# Import pandas module
import pandas as pd

In [2]:
f500 = pd.read_csv('f500.csv', index_col=0)
f500.index.name = None

1. Use Python's `type()` function to assign the type of `f500` to `f500_type`.

In [3]:
f500_type = type(f500)
print(f500_type)

<class 'pandas.core.frame.DataFrame'>

2. Use the `DataFrame.shape` attribute to assign the shape of `f500` to `f500_shape`.

In [4]:
f500_shape = f500.shape
print(f500_shape)

(500, 16)

### Introducing DataFrames

Benefits to pandas:
- Axis values can have string labels, not just numeric ones.
- Dataframes can contain columns with multiple datatypes: included integer, float, and string.

`DataFrame.head()` method will by default return the first 5 rows of a dataframe but can accept an optional integer parameter to specify the number of rows to return.

In [5]:
f500.head()

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [6]:
f500.head(3)

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523

`DataFrame.tail()` method will be default return the last 5 rows of a dataframe, but like the `.head()` method, can accept an optional integer parameter to specify the numbre of rows to return.

In [7]:
f500.tail()

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [8]:
f500.tail(3)

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

1. Use the `head()` method to select the **first 6 rows**. Assign the result to `f500_head`.

In [9]:
f500_head = f500.head(6)

2. Use the `tail.()` method to select the **last 8 rows**. Assign the result to `f500_tail`.

In [10]:
f500_tail = f500.head(8)

---

Use the `DataFrame.dtypes` attribute to return information about the types of each column.

- _Note_: `object` is used for columns that have data that doesn't fit into any other dtypes and is almost always used for columns containing string values.

Use `DataFrame.info()` to show an overview of all the dtypes used in the dataframe, along with its shape and other information.
- _Note_: `.info()` prints the information rather than returning it, so it cannot be assigned to a variable.

1. Use the `DataFrame.info()` method to display information about the `f500` dataframe.

In [11]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      500 non-null    int64
 1   revenues                  500 non-null    int64
 2   revenue_change            498 non-null    float64
 3   profits                   499 non-null    float64
 4   assets                    500 non-null    int64
 5   profit_change             436 non-null    float64
 6   ceo                       500 non-null    object
 7   industry                  500 non-null    object
 8   sector                    500 non-null    object
 9   previous_rank             500 non-null    int64
 10  country                   500 non-null    object
 11  hq_location               500 non-null    object
 12  website                   500 non-null    object
 13  years_on_global_500_list  500 non-null    int64
 14  employees                 500 non-null    int64
 15  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB

### Selecting a Column from a DataFrame by Label

Use the `DataFrame.loc[]` attribute to select data by axis labels

Syntax:

`df.loc[row_label, column_label]`

1. Select the `industry` column. Assign the result to the variable name `industries`.

In [12]:
industries = f500["industry"]

2. Use Python's `type()` function to assign the type of industries to `industries_type`.

In [14]:
industries_type = type(industries)
print(industries_type)

<class 'pandas.core.series.Series'>

### Introduction to Series

**Series** is the pandas type for one-dimensional objects. 

Anytime you see a 1D pandas object, it will be a series. Anytime you see a 2D pandas object, it will be a dataframe.

### Selecting Columns from a DataFrame by Label (Continued)

Use a **list of labels** to select specific columns:

`f500_selection.loc[:,["country", "rank"]]`

`f500_selection[["country", "rank"]]`

**Slice object with labels** to select specific columns:

`f500_selection.loc[:,"rank":"profits"]`

- _Note_: Slicing **includes** the last column in the slice
- _Note_: There is no shortcut syntax for selecting column slices

**Summary of Techniques**

| Select by Label | Explicit Syntax | Common Shorthand |
| :--- | :--- | :--- |
| Single column | `df.loc[:,"col1"]` | `df["col1"]` |
| List of columns | `df.loc[:,["col1", "col7"]]` | `df[["col1", "col7"]]` |
| Slice of columns | `df.loc[:,"col1":"col4"]` |  |

1. Select the `country` column. Assign the result to the variable name `countries`.

In [15]:
countries = f500["country"]

2. In order, select the `revenues` and `years_on_global_500_list` columns. Assign the result to the variable name `revenues_years`.

In [16]:
revenues_years = f500[["revenues", "years_on_global_500_list"]]

3. In order, select all columns from `ceo` up to and including `sector`. Assign the result to the variable name `ceo_to_sector`.

In [17]:
ceo_to_sector = f500.loc[:,"ceo":"sector"]

### Selecting Rows from a DataFrame by Label

We use the same syntax to select rows from a dataframe as we do for columns:

`df.loc[row_label, column_label]`

**Select a single row**

`single_row = f500_selection.loc["Sinopec Group"]
print(type(single_row))
print(single_row)`

- _Note_: The object returned is a series because it is one-dimensional. Since the series has to store integer, float, and string values, pandas uses the `object` dtype, since no numeric type could cater for all values stored.

**Select a list of rows**

`list_rows = f500_selection.loc[["Toyota Motor", "Walmart"]]
print(type(list_rows))
print(list_rows`

**Select a slice object with labels**

`slice_rows = f500_selection["State Grid":"Toyota Motor"]
print(type(slice_rows))
print(slice_rows)`

1. Create a new variable, `toyota`, with:
    - Just the row with index `Toyota Motor`.
    - All columns.

In [18]:
toyota = f500.loc["Toyota Motor"]

2. Create a new variable, `drink_companies`, with:
    - Rows with indices `Anheuser-Busch InBev`, `Coca-Cola`, and `Heineken Holding`, in that order.
    - All columns.

In [19]:
drink_companies = f500.loc[["Anheuser-Busch InBev", "Coca-Cola", "Heineken Holding"]]

3. Create a new variable, `middle_companies`, with:
    - All rows with indices from `Tata Motors` to `Nationwide`, inclusive.
    - All columns from `rank` to `country`, inclusive.

In [20]:
middle_companies = f500.loc["Tata Motors":"Nationwide","rank":"country"]

### Series vs DataFrames

- A single column is a series object
- A single row is a series object
- Multiple columns are a dataframe object
- Multiple rows are a dataframe object

### Value Counts Method

`Series.value_counts()` method - displays each unique, non-null value in a column and their counts in order

- _Note_: This is a **series only** method and does not work on dataframes

In [21]:
sectors = f500["sector"]
print(type(sectors))

<class 'pandas.core.series.Series'>

In [23]:
sectors_value_counts = sectors.value_counts()
print(sectors_value_counts)

Financials                       118
Energy                            80
Technology                        44
Motor Vehicles & Parts            34
Wholesalers                       28
Health Care                       27
Food & Drug Stores                20
Transportation                    19
Telecommunications                18
Retailing                         17
Food, Beverages & Tobacco         16
Materials                         16
Industrials                       15
Aerospace & Defense               14
Engineering & Construction        13
Chemicals                          7
Business Services                  3
Household Products                 3
Hotels, Restaurants & Leisure      3
Media                              3
Apparel                            2
Name: sector, dtype: int64

In [26]:
# exercise selection - custom made to match
list_of_companies = ["Walmart", "State Grid", "Sinopec Group", "China National Petroleum", "Toyota Motor", "Apple"]
f500_sel = f500.loc[list_of_companies]
f500_sel.shape

(6, 16)

In [27]:
f500_sel.head(6)

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249

1. Find the counts of each unique value in the `country` column in the `f500_sel` dataframe.
    - Select the `country` column in the `f500_sel` dataframe. Assign it to a variable named `countries`.
    - Use the `Series.value_counts()` method to return the value counts for `countries`. Assign the results to `country_counts`.

In [29]:
countries = f500_sel["country"]
country_counts = countries.value_counts()
print(country_counts)

China    3
USA      2
Japan    1
Name: country, dtype: int64

### Selecting Items from a Series by Label

In [32]:
countries = f500["country"]
countries_counts = countries.value_counts()
print(countries_counts)

USA             132
China           109
Japan            51
France           29
Germany          29
Britain          24
South Korea      15
Netherlands      14
Switzerland      14
Canada           11
Spain             9
India             7
Australia         7
Italy             7
Brazil            7
Taiwan            6
Russia            4
Ireland           4
Singapore         3
Sweden            3
Mexico            2
Denmark           1
Norway            1
Malaysia          1
Finland           1
Israel            1
Saudi Arabia      1
Indonesia         1
Belgium           1
Venezuela         1
U.A.E             1
Luxembourg        1
Thailand          1
Turkey            1
Name: country, dtype: int64

What if we wanted to select just the count for India? Or the counts for just the countries in North America?

- We can use `Series.loc[]` to select items from a series using single labels, a list, or a slice object. We can also omit `loc[]` and use bracket shortcuts for all three:

| Select by Label | Explicit Syntax | Common Shorthand |
| :--- | :--- | :--- |
| Single item from series | `s.loc["item8"]` | `s["item8"]` |
| List of items from series | `s.loc[["item1","item7"]]` | `s[["item1","item7"]]` |
| Slice of items from series | `s.loc["item2":"item4"]` | `s["item2":"item4"]` |

- From the pandas series `country_counts`:
    1. Select the item at index label `India`. Assign the result to the variable name `india`.
    2. In order, select the items with index labels `USA`, `Canada`, and `Mexico`. Assign the result to the variable name `north_america`.

In [36]:
india = countries_counts["India"]
print(india)

7

In [37]:
north_america = countries_counts[["USA", "Canada", "Mexico"]]
print(north_america)

USA       132
Canada     11
Mexico      2
Name: country, dtype: int64

### Summary Challenge

Different label selection methods:

| Select by Label | Explicit Syntax | Shorthand Convention |
| :--- | :--- | :--- |
| Single column from dataframe | `df.loc[:,"col1"]` | `df["col1"]` |
| List of columns from dataframe | `df.loc[:,["col1", "col7"]]` | `df[["col1, "col7"]]` |
| Slice of columns from dataframe | `df.loc[:,"col1":"col4]` |  |
| Single row from dataframe | `df.loc["row4"]` |  |
| List of rows from dataframe | `df.loc[["row1", "row8"]]` |  |
| Slice of rows from dataframe | `df.loc["row3":"row5"]` | `df["row3":"row5"]` |
| Single item from series | `s.loc["item8"]` | `s["item8"]` |
| List of items from series | `s.loc[["item1","item7"]]` | `s[["item1","item7"]]` |
| Slice of items from series | `s.loc["item2":"item4"]` | `s["item2":"item4"]` |

1. Create a new variable, `big_movers`, with:
    - Rows with indices `Aviva`, `HP`, `JD.com`, `BHP Billiton`, in that order.
    - The `rank` and `previous_rank` columns, in that order

In [42]:
big_movers = f500.loc[["Aviva", "HP", "JD.com", "BHP Billiton"], ["rank", "previous_rank"]]
print(big_movers)

              rank  previous_rank
Aviva           90            279
HP             194             48
JD.com         261            366
BHP Billiton   350            168

2. Create a new variable, `bottom_companies`, with:
    - All rows with indices from `National Grid` to `AutoNation`, inclusive.
    - The `rank`, `sector`, and `country` columns.

In [41]:
bottom_companies = f500.loc["National Grid":"AutoNation", ["rank", "sector", "country"]]
print(bottom_companies)

                                       rank              sector  country
National Grid                           491              Energy  Britain
Dollar General                          492           Retailing      USA
Telecom Italia                          493  Telecommunications    Italy
Xiamen ITG Holding Group                494         Wholesalers    China
Xinjiang Guanghui Industry Investment   495         Wholesalers    China
Teva Pharmaceutical Industries          496         Health Care   Israel
New China Life Insurance                497          Financials    China
Wm. Morrison Supermarkets               498  Food & Drug Stores  Britain
TUI                                     499   Business Services  Germany
AutoNation                              500           Retailing      USA