# Variables and Data Types
## Saving Values

In the first mission, we learned the basics of Python programming and performed a few arithmetical operations using Python. In this mission, we'll learn how to save values, and how to work with numerical and text data.

Let's say we want to save the result of an arithmetical operation for later work. For instance, `(8 + 2) * 2` equals `20`, and we want to save `20`. This is the code we need to run to save `20`:

In [1]:
result = 20

If we print the name `result`, the output is `20`:

In [2]:
print(result)

20

We can also save directly `(8 + 2) * 2)` instead of saving `20`.

In [3]:
result = (8 + 2) * 2
print(result)

20

Notice, however, that `print(result)` outputs `20`, not `(8 + 2) * 2`. This is because the computer first calculates `(8 + 2) * 2` and then saves the result `20` to `result`.

---
### Instructions
1. Save the result of `(42 - 11) * 22` to `result`.
2. Print `result`.

In [4]:
result = (42 - 11) * 22
print(result)

682

---
## Variables

Previously, we saved `20` to `result`.

In [5]:
result = 20

When we run the code `result = 20` the value `20` is saved in the cmputer memory. The computer memory has many storage locations, and `20` is saved to one particular location.

The storage location to which we saved `20` has a unique identifier, and we can use it to access `20`. The identifier is named `result`, and we named it that way when we ran the code `result = 20`. We can use the identifier `result` to access `20` in other lines of code:

In [6]:
result = 20
print(result)
print(result + 10)

20
30

The storage locatin for `20` is more commonly known as a **variable**. When we ran the code `result = 20`, we stored `20` in a variable (storage location) named `result` -- so `result` is a **variable name**.

Note that we need to write the variable name to the left of the `=` operator and the value we want to store to the right. So if we want to store the value `20` to a variable named `result`, we must write `result = 20`, not `20 = result`.

We chose the name `result` arbitrarily, but we could have chosen something different:

In [7]:
another_name = 20
print(another_name)
print(another_name + 10)

20
30

---
### Instructions
1. Store the value `15` in a variable named `a_value`.
2. Store the result of `(25 - 7) * 17` to a variable named `a_result`.
3. Using the `print()` command, display the following:
- The value stored in the `a_value` variable.
- The result of adding `12` to the variable `a_result`.
- The result of adding `a_value` to `a_result`.

In [8]:
a_value = 15
a_result = (25 - 7) * 17
print(a_value)
print(a_result + 12)
print(a_value + a_result)

15
318
321

---
## Variable Names

In the last screen, we learned that we can choose different names for variables. However, the names we can use must comply with a number of syntax rules. For instance, naming a variable `a result` will output a syntax error because we're not allowed to use space characters in variable names.

In [9]:
a result = 30

SyntaxError: invalid syntax (<ipython-input-9-cb4d9bab6d75>, line 1)

These are the two syntax rules we need to be aware of when we're naming variables:
1. We must only use letters, numbers, or underscores (we can't use apostrophes, hyphens, whitespace characters, etc.).
2. Variable names cannot start with a number.

Note that variable names are **case sensitive**, which means that a variable named `result` is different than a variable named `Result`:

In [10]:
result = 2
Result = 70
print(result)
print(Result)

2
70

---
### Instructions
1. Change the given code variable name `old-income` to `old_income` to prevent a syntax error.
2. Change the given code variable name `new income` to `new_income` to prevent a syntax error.
3. Remove the `#` from each line so that the code will run, then run the code.

In [11]:
# INITIAL CODE
#old-income = 34000
#new income = 40000

In [12]:
old_income = 34000
new_income = 40000

---
## Updating Variables

The value stored in a variable can be updated. Below, we first store `30` in the variable `x`, and then we updated `x` to store `70` instead.

In [13]:
x = 30
print(x)

x = 70
print(x)

30
70

We can also update a variable by doing arithmetical operations:

In [14]:
x = 30
print(x)
print(x + 70)

x = x + 70
print(x)

30
100
100

Notice in the code above that:
- The variable `x` initially stores a value of `30`.
- `x + 70` evaluates to `100` because `x` stores a value of `30` -- so `x + 70` becomes `30 + 70`.
- When we run `x = x + 70`, `x` is updated to store the result of `x + 70`, which is `100`. Running `x = x + 70` is the same as running `x = 30 + 70` because `x` stores `30`.
- `print(x)` outputs `100` after we run `x = x + 70`.

---
### Instructions
1. Update the variable `income` by adding `6000` to its current value. The variable `income` is already shown in the code editor.
2. Print `income`.

In [15]:
income = 34000
income = income + 6000
print(income)

40000

---
## Syntax Shortcuts

In the previous screen, we used the code `x = x + 70` to update `x` from `30` to `100`.

In [16]:
x = 30
print(x)
print(x + 70)

x = x + 70
print(x)

30
100
100

There are several syntax shortcuts we can use to update a variable when we're doing arithmetical operations. In the code above, for instance, we can write `x += 70` instead of `x = x + 70`:

In [17]:
x = 30
x += 70
print(x)

100

Syntax shortcuts include:
- `+=`
- `-=`
- `*=`
- `/=`
- `**=`

Notice that these operators can only be used to _update_ a variable. This means the variable being updated must already store a value. In other words, the variable must already be **defined**. When we try to update a variable that we haven't defined, we get an error called `NameError`.

This kind of error is different from the _syntax_ error we learned about in the first misson. `y += 10` is correct Python syntax, but the computer returns an error because it can't update a variable that hasn't yet been defined. Whenever the syntax is correct but the computer still returns an error for one reason or another, it's called a **runtime error**.

Notice also that we updated a variable using `x = x + 1`. In mathematics, `x = x + 1` would be a false statement because `x` can never be equal to `x + 1`. This tells us that the `=` operator doesn't have the same meaning as it does in mathematics.

In Python, the `=` operator tells us that the value on the right is **assigned** to the variable on the left. It doesn't tell us anything about equality. We call `=` an **assignment operator**, and we read code like `x = 5` as "five is assigned to x" or "x is assigned five," but not "x equals five."

---
### Instructions
1. Assign a value of `20` to a variable named `variable_1`.
2. Assign a value of `20` to a variable named `variable_2`.
3. Update the value of `variable_2` by adding `10` to its current value. You can take advantage of the `+=` oeprator.
4. Update the value of `variable_1` by multiplying its current value by `4`. You can take advantage of the `*=` operator.
5. Display `variable_1` and `variable_2` using `print()`.

In [18]:
variable_1 = 20
variable_2 = 20
variable_2 += 10
variable_1 *= 4
print(variable_1)
print(variable_2)

80
30

---
## Integers and Floats

So far, we only worked with integers like 20, -3, 30, etc. We can also make computations with decimal numbers:

In [19]:
print(8.4 + 1.5)
print(-0.2 + 1.3)

9.9
1.1

In mathematics, integers are not the same as decimal numbers, and Python acknowledges this difference. We can use the `type()` command to see the type of a value, and confirm that Python distinguishes between integers and decimal values:

In [20]:
type(2)

int

In [21]:
type(8.5)

float

Notice that the integer `2` has the `int` type, and the decimal number `8.5` has the `float` type. All integers have the `int` type and all decimal numbers have the `float` type.

In computer programming, values are classified into different **types**, or **data types**. The type of value offers the computer the required information about the way that value should be handled. Depending on the type, the computer will know how to store a value in memory, or what operations can and can't be performed on a value.

`int` and `float` values have different types, but we can mix the values together in arithmetical operations. So we're not limited, for instance, to add an `int` value only to another `int` value -- we can add an `int` value to a `float` value:

In [22]:
print(3 + 2.5)
print(2.5 * 4)

5.5
10.0

---
### Instructions
1. Assign the integer `10` to a variable named `variable_1`.
2. Assign the float `2.5` to a variable named `variable_2`.
3. Update the value of `variable_1` by adding the float `6.5` to its current value. You can use the `+=` operator.
4. Update the value of `variable_2` by multiplying its current value by the integer `2`. You can use the `*=` operator.
5. Display `variable_1` and `variable_2` using `print()`.

In [23]:
variable_1 = 10
variable_2 = 2.5
variable_1 += 6.5
variable_2 *= 2
print(variable_1)
print(variable_2)

16.5
5.0

---
## Conversion Between Types

It's possible to convert a float to an integer and vice versa. To conver an integer to a float, we can use the `float()` command. To convert a float to an integer, we can use the `int()` command:

In [24]:
float(10)

10.0

In [25]:
int(4.3)

4

Notice the `int()` command rounded `4.3` down to `4`, `int()` will always ignore the decimal part of a `float` and keep the integer part.

In [26]:
int(4.99)

4

If we want to round off a number, we can instead use the `round()` command, which has more flexibility:

In [27]:
round(4.99)

5

In [28]:
round(4.5)

4

In [29]:
round(4.3)

4

Note that it's possible to combine commands. For instance, we can encompass a `round()` command within a `print()` command. This is useful in some cases -- if we wrote three `round()` commands one after another, only the output of the last one would be displayed:

In [30]:
round(4.99)
round(4.5)
round(4.3)

4

In [31]:
print(round(4.99))
print(round(4.5))
print(round(4.3))

5
4
4

Note that running the `round()` command doesn't change the value stored by a variable unless we assign the rounded value back to the variable:

In [32]:
a_value = 3.7
print(round(a_value))
print(a_value)

a_value = round(a_value)
print(a_value)

4
3.7
4

---
### Instructions
1. Assign the value `13.9` to a variable named `variable_a`.
2. Assign the value `2.8` to a variable named `variable_b`.
3. Round `variable_a` using the `round()` command, and assign back the rounded value to `variable_a`.
4. Convert `variable_b` from a float to an int using the `int()` command, and assign back the converted value to `variable_b`.
5. Display `variable_a` and `variable_b` using the `print()` command.

In [33]:
variable_a = 13.9
variable_b = 2.8
variable_a = round(variable_a)
variable_b = int(variable_b)
print(variable_a)
print(variable_b)

14
2

---
## Strings

So far, we've only dealt with `int` and `float` values. But in data science, numbers are not the only type of data we work with. For instance, consider the table below, which provides some information about five mobile applications from the iOS store.

We can see the data in columns `track_name` and `currency` are represented using text, not numbers. In Python, we can create text by enclosing a sequence of characters within quotation marks (`" "`):

In [34]:
app_name = "Facebook"
currency = "USD"

print(app_name)
print(currency)

Facebook
USD

Python syntax allows both double quotation marks (`" "`) and single quotation marks (`' '`) -- but not a mixture of both. So if we want to create the word "Facebook," we can use either `"Facebook"` or `'Facebook'`, but not `"Facebook'`.

In [35]:
fb_1 = "Facebook"
fb_2 = 'Facebook'

print(fb_1)
print(fb_2)

Facebook
Facebook

In programming, we call sequences of characters like `"Facebook"`, `"USD"`, or `"dasdaslkj"` **strings**. In Python, a string is of the `str` type:

In [36]:
type('Facebook')

str

When we create strings, we;re not limited to using letters -- we can also use numbers, spaces, or other characters:

In [38]:
game = 'Clash of Clans'
short_description = 'Clash of Clans is free and has an average rating of 4.5.'

print(game)
print(short_description)

Clash of Clans
Clash of Clans is free and has an average rating of 4.5.

---
### Instructions
1. Assign the string `Pandora - Music & Radio` to a variable named `app_name`.
2. Assign the string `4.0` to a variable named `average_rating`. Make sure you don't mistake a string for a float.
3. Assign the string `1724546` to a variable named `total_ratings`. Make sure you don't mistake a string for an integer.
4. Assign the string `free` to a variable named `price`.
5. Display the `app_name` variable using `print()`.

In [39]:
app_name = "Pandora - Music & Radio"
average_rating = "4.0"
total_ratings = "1724546"
price = "free"

print(app_name)

Pandora - Music & Radio

---
## Escaping Special Characters

Sometimes we'll need to create strings with quotation marks inside, like in this example: `Facebook's old motto was 'move fast and break things'`.

In situations like these, we can use one type of quotation marks as the outermost quotations, and the other as the innermost quotations:

In [41]:
motto = "Facebook's old motto was 'move fast and break things'."
print(motto)

Facebook's old motto was 'move fast and break things'.

Above, we started the string with a double quotation mark. This lets Python know the string ends where the second double quotation mark is. As a consequence, Python considers the single quotation marks in `'move fast and break things'` as being part of the string.

However, we may want to surround the motto `move fast and break things` with double quotation marks: `Facebook's old motto was "move fast and break things."` One solution is using single quotation marks to specify the start and the end of the string. However, the single quotation marks in `Facebook's` will cause Python to think that the string ends there.

Creating the string above will result in a syntax error because Python is confused about what comes after the string.

Fortunately, we can cancel the _special function_ of the single quotation mark (its special function is to end the string) by typing a backslash character (`\`) in front of it:

In [43]:
motto = 'Facebook\'s old motto was "move fast and break things".'
print(motto)

Facebook's old motto was "move fast and break things".

The `\` character has a special function within a string: it **escapes** (cancels) the special function of characters. Above, we used `\` to escape the second single quotation mark, which had the special function of ending the string.

---
### Instructions
1. Assign the string `Facebook's new motto is "move fast with stable infra."` to a variable named `motto`.
- Notice there's a `.` character at the end of `Facebook's new motto is "move fast with stable infra."` — you'll need to include the `.` character in your answer.
2. Display the variable `motto` using `print()` — displaying `motto` is required for answer checking.

In [44]:
motto = "Facebook's new motto is \"move fast with stable infra.\""
print(motto)

Facebook's new motto is "move fast with stable infra."

---
## String Operations

When we have two or more distinct strings, it's possible to link them together using the `+` operator:

In [45]:
print('a' + 'b')
print('a' + ' ' + 'b')
print('This' + 'is' + 'a' + 'sentence.')
print('This' + ' ' + 'is' + ' ' + 'a' + ' ' + 'sentence.')
print('This ' + 'is ' + 'a ' + 'sentence.')

ab
a b
Thisisasentence.
This is a sentence.
This is a sentence.

The process of linking two or more strings together is called **concatenation**.

It's also possible to concatenate a string with one or more copies of itself using the `*` operator, followed by a number which specifies the number of times the string has to be multiplied:

In [46]:
print('a' * 2)
print('a' * 5)
print('a ' * 5)
print('a' * 1)
print('a' * 0)
print('a' * -1)

aa
aaaaa
a a a a a
a

We can't perform arithmetical operations between strings and integers, or strings and floats (decimal numbers).

In [47]:
print('4' + 1)

TypeError: can only concatenate str (not "int") to str

In [48]:
print('4' - 1)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

The only exception is when we concatenate a string with copies of itself and use code like `'a' * 2`. But that's not an arithmetical operation anyway, so this exception is rather syntactical.

If the strings contain characters that form a valid number (like `'4'`, `'3.3'`, `'12'`, etc.), it's possible to convert them to integers or floats first, and then do the arithmetical operations. We can use the `int()` or `float()` command to convert a string of type `str` to a number of type `int` or `float`.

In [49]:
print(int('4') + 1)
print(float('3.3') + 1)

5
4.3

In [50]:
print(int('wrong format'))

ValueError: invalid literal for int() with base 10: 'wrong format'

In [51]:
print(int('3.3'))

ValueError: invalid literal for int() with base 10: '3.3'

Note that we can also convert an `int` or a `float` to a `str` using the `str()` command. Below, we convert the integer `4` to the string `'4'` (notice the quotation marks in `'4'`).

In [52]:
str(4)

'4'

On a side note, strings are displayed without quotation marks when we use the `print()` command.

In [53]:
print('4')

4

In [54]:
'4'

'4'

So far, we've only been working with one-line strings, but we can also write strings over many lines using the triple quotation mark symbol (`''' or """`).

In [55]:
text_1 = '''This is a sentence.
This is another sentence, on a different line.
Yet another sentence.'''

text_2 = """------------
Line 1.
Line 2.
Line 3.
"""

print(text_1)
print(text_2)

This is a sentence.
This is another sentence, on a different line.
Yet another sentence.
------------
Line 1.
Line 2.
Line 3.

Using triple quotation marks also allows us to use both single and double quotation marks without needing to escape them.

In [56]:
motto = '''Facebook's old motto was "move fast and break things".'''
print(motto)

Facebook's old motto was "move fast and break things".

---
### Instructions
1. Assign the string `Facebook's rating is` to a variable named `facebook`.
2. Assign the float `3.5` to a variable named `fb_rating`.
3. Convert `fb_rating` from a float to a string using the `str()` command, and assign the converted value to a new variable named `fb_rating_str`.
4. Concatenate the strings stored in `facebook` and `fb_rating_str` to form the string `Facebook's rating is 3.5`.
- Assign the concatenated string to a variable named `fb`.
- You'll need to add a space character between `Facebook's rating is` and `3.5` to avoid ending up with the string `Facebook's rating is3.5`.
5. Display the `fb` variable using `print()` - this is required for answer checking.

In [57]:
facebook = "Facebook's rating is"
fb_rating = 3.5
fb_rating_str = str(fb_rating)
fb = facebook + " " + fb_rating_str
print(fb)

Facebook's rating is 3.5