# Lists and For Loops

## Lists

Toward the end of the previous less, we worked with the `AppleStore.csv` table.

Each value in the table is a **data point**. For instance, the first row has five data points:
- `Facebook`
- `0.0`
- `USD`
- `2974676`
- `3.5`

A **dataset** is a collection of data points. We can understand the table above as a collection of data points, so we call the entire table a dataset. Our dataset has 5 rows and 5 columns.

When we work with datasets, we must store them in the computer memory to be able to retrieve and manipulate the data points. Using what we've learned so far, we might thing we can store each data point in a variable. For instance, this is how we might store the first row's data points:

In [3]:
track_name_row1 = 'Facebook'
price_row1 = 0.0
currency_row1 = 'USD'
rating_count_tot_row1 = 2974676
user_rating_row1 = 3.5

Above, we stored:
- The text "Facebook" as a string
- The price 0.0 as a float
- The text "USD" as a string
- The rating count 2,974,676 as an integer
- The user rating 3.5 as a float

Creating a variable for each data point in our dataset would be a long process. Fortunately, we can store data more efficiently using **lists**. This is how we can create a list of data points for the first row:

In [4]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
print(row_1)
type(row_1)

['Facebook', 0.0, 'USD', 2974676, 3.5]

list

To create the list above, we must complete the following steps:
- Typed out a sequence of data points and separated each with a comma: `'Facebook', 0.0, 'USD', 2974676, 3.5`
- Surrounded the sequence with brackets: `['Facebook', 0.0, 'USD', 2974676, 3.5]`

After we created the list, we stored it in the computer's memory by assigning it to a variable named `row_1`.

To create a list of data points, we only need to:
- Separate the data points with a comma.
- Surround the sequence of data points with brackets.

Now let's get a little practice with creating lists.

---
### Instructions
1. Store the second row (`'Instagram', 0.0, 'USD', 2161558, 4.5`) as a list in a variable named `row_2`.
2. Store the third row (`'Clash of Clans', 0.0, 'USD', 2130805, 4.5`) as a list in a variable named `row_3`.

In [5]:
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]

---
## Indexing

A list can contain mixed and identical data types (so far we've learned four data types: integers, floats, strings, and lists). A list like `[4, 5, 6]` has identical data types (only integers), while the list `['Facebook', 0.0, 'USD', 2974676, 3.5]` has mixed data types:

- Two strings (`'Facebook', 'USD'`)
- Two floats (`0.0`, `3.5`)
- One integer (`2974676`)

The `['Facebook', 0.0, 'USD', 2974676, 3.5]` list has five data points. To find the length of a list, we can use the `len()` command:

In [6]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
print(len(row_1))

list_1 = [1, 6, 0]
print(len(list_1))

list_2 = []
print(len(list_2))

5
3
0

For small lists, we can just count the data points on our screens to find the length, but the `len()` command will be useful when we work with lists containing thousands of elements (we'll see an actual example later in this lesson).

Each element (data point) in a list has a specific number associated with it, called an **index number**. The indexing always starts at 0, so the first element will have the index number 0, the second element the index number 1, and so on.

To find the index of a list element, identify its position number in the list, and then subtract 1. For example, the string `'USD'` is the third element of the list (position number 3), so its index number must be 2 since 3 − 1 = 2.

The index numbers help us retrieve individual elements from a list. Looking back at the list `row_1` from the code example above, we can retrieve the first element (the string `'Facebook'`) with the index number 0 by running the code `row_1[0]`.

In [7]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_1[0]

'Facebook'

As a side note, you may have noticed above that we used `row_1[0]` rather than `print(row_1[0])`. Recall from the first lesson that the code editor displays the last line of code regardless of whether we use `print()` or not.

The syntax for retrieving individual list elements follows the model `list_name[index_number]`. For instance, the name of our list above is `row_1` and the index number of the first element is `0` — following the `list_name[index_number]` model, we get `row_1[0]`, where the index number `0` is in square brackets after the variable name `row_1`.

This is how we can retrieve each element in `row_1`:

In [8]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]

print(row_1[0])
print(row_1[1])
print(row_1[2])
print(row_1[3])
print(row_1[4])

Facebook
0.0
USD
2974676
3.5

Retrieving list elements makes it easier to perform operations. For instance, we can select the ratings for Facebook and Instagram, and find the average or the difference between the two:

In [9]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]

difference = row_2[4] - row_1[4]
average_rating = (row_1[4] + row_2[4]) / 2

print(difference)
print(average_rating)

1.0
4.0

---
### Instructions
In the code editor, you can already see the lists for the first three rows.

The fourth element in each list describes the number of ratings an app has received. Retrieve this element from each list and then find the average value of the retrieved numbers.

1. Assign the fourth element from the list `row_1` to a variable named `ratings_1`. Don't forget that the indexing starts at `0`.
2. Assign the fourth element from the list `row_2` to a variable named `ratings_2`.
3. Assign the fourth element from the list `row_3` to a variable named `ratings_3`.
4. Add the three numbers retrieved together and save the sum to a variable named `total`.
5. Divide the sum (now saved in the variable `total`) by `3` to get the average number of ratings for the first three rows. Assign the result to a variable named `average`.

In [11]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]

ratings_1 = row_1[3]
ratings_2 = row_2[3]
ratings_3 = row_3[3]

total = ratings_1 + ratings_2 + ratings_3
print(total)

average = total / 3
print(average)

7267039
2422346.3333333335

---
## Negative Indexing

In Python, we have two indexing systems for lists:

- **Positive indexing**: the first element has the index number 0, the second element has the index number 1, and so on.
- **Negative indexing**: the last element has the index number -1, the second to last element has the index number -2, and so on.

In practice, we almost always use positive indexing to retrieve list elements. Negative indexing is useful when we want to select the last element of a list — especially if the list is long, and we can't find the length by counting.

In [12]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]

print(row_1[-1])
print(row_1[4])

3.5
3.5

Notice that if we use an index number that is outside the range of the two indexing systems, we'll get an `IndexError`.

In [13]:
row_1[6]

IndexError: list index out of range

In [14]:
row_1[-7]

IndexError: list index out of range

---
### Instructions

The last element in each list shows the average rating of each application.

Retrieve the ratings for the first three rows and then find the average value of all the ratings retrieved.

1. Assign the last element from the list `row_1` to a variable named `rating_1`. Try to take advantage of negative indexing.
2. Assign the last element from the list `row_2` to a variable named `rating_2`.
3. Assign the last element from the list `row_3` to a variable named `rating_3`.
4. Add the three ratings together and save the sum to a variable named `total_rating`.
5. Divide the total by `3` to get the average rating. Assign the result to a variable named `average_rating`.

In [17]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]

rating_1 = row_1[-1]
rating_2 = row_2[-1]
rating_3 = row_3[-1]

total_rating = rating_1 + rating_2 + rating_3
print(total_rating)

average_rating = total_rating / 3
print(average_rating)

12.5
4.166666666666667

---
## Retrieving Multiple List Elements

We often need to retrieve more than one element from a list. Let's say we have the list `['Facebook', 0.0, 'USD', 2974676, 3.5]`, and we're interested in retrieving only the name of the app and the data about ratings (the number of ratings and the rating). We can retrieve elements using what we've learned so far:

In [18]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
app_name = row_1[0]
n_of_ratings = row_1[3]
rating = row_1[-1]

If we wanted to do this for every app, we'd end up having a lot of variables, making our code long and hard to keep track. A better solution is to store the data we want in a separate list.

In [20]:
fb_rating_data = [row_1[0], row_1[3], row_1[-1]]
fb_rating_data

['Facebook', 2974676, 3.5]

Above, we managed to retrieve the three list elements of interest in a separate list. To do that, we had to use the code `row_1[0], row_1[3], row_1[-1]` to retrieve the first, fourth, and last element, and then we surrounded that code with square brackets to create a new list.

---
### Instructions

1. For Facebook, Instagram, and Pandora — Music & Radio, isolate the rating data in separate lists. Each list should contain the name of the app, the rating count, and the user rating. Don't forget that indexing starts at `0`.
- For Facebook, assign the list to a variable named `fb_rating_data`.
- For Instagram, assign the list to a variable named `insta_rating_data`.
- For Pandora — Music & Radio, assign the list to a variable named `pandora_rating_data`.
2. Compute the average rating for Facebook, Instagram, and Pandora — Music & Radio using the data you stored in `fb_rating_data`, `insta_rating_data`, and `pandora_rating_data`.
- You'll need to add the ratings together and then divide the total by the number of ratings.
- Assign the result to a variable named `avg_rating`.

In [21]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
row_5 = ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

fb_rating_data = [row_1[0], row_1[3], row_1[-1]]
insta_rating_data = [row_2[0], row_2[3], row_2[-1]]
pandora_rating_data = [row_5[0], row_5[3], row_5[-1]]

avg_rating = (fb_rating_data[2] + insta_rating_data[2] + pandora_rating_data[2]) / 3
print(avg_rating)

4.0

---
## List Slicing

In the last exercise, we retrieved the first, fourth, and last list elements to isolate the rating data. We can also retrieve the first three list elements to isolate the pricing data:

In [22]:
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]

cc_pricing_data = [row_3[0], row_3[1], row_3[2]]
print(cc_pricing_data)

['Clash of Clans', 0.0, 'USD']

Instead of selecting element by element, we can use a syntax shortcut:

In [23]:
cc_pricing_data = row_3[0:3]
print(cc_pricing_data)

['Clash of Clans', 0.0, 'USD']

When we select the first `n` elements (`n` stands for a number) from a list named `a_list`, we can use the syntax shortcut `a_list[0:n]`. In the example above, we needed to select the first three elements from the list `row_3`, so we used `row_3[0:3]`.

When we selected the first three elements, we sliced a part of the list. For this reason, the process of selecting a part of a list is called **list slicing**.

There are many ways that we might want to slice a list.

To retrieve any list slice complete the following steps:

1. We need to identify the first and the last element of the slice.
2. We need to identify the index numbers of the first and the last element of the slice.
3. Finally we can retrieve the list slice we want by using the syntax `a_list[m:n]`, where:
- `m` represents the index number of the first element of the slice; and
- `n` represents the index number of the last element of the slice **plus one** (if the last element has the index number 2, then `n` will be 3, if the last element has the index number 4, then `n` will be 5, and so on).

When we need to select the first or last `x` elements (`x` stands for a number), we can use easier syntax shortcuts:

- `a_list[:x]` when we want to select the first `x` elements.
- `a_list[-x:]` when we want to select the last `x` elements.

In [25]:
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]

first_3 = row_3[:3]
last_3 = row_3[-3:]

print(first_3)
print(last_3)

['Clash of Clans', 0.0, 'USD']
['USD', 2130805, 4.5]

---
### Instructions:

1. Select the first four elements from `row_1` using a list slicing syntax shortcut. Assign the output to a variable named `first_4_fb`.
2. Select the last three elements from `row_1` using a list slicing syntax shortcut. Assign the output to a variable named `last_3_fb`.
3. From `row_5`, select the list slice `['USD', 1126879]` using a list slicing syntax shortcut. Assign the output to a variable named `pandora_3_4`.

In [27]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
row_5 = ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

first_4_fb = row_1[:4]
last_3_fb = row_1[-3:]
pandora_3_4 = row_5[2:4]

print(first_4_fb)
print(last_3_fb)
print(pandora_3_4)

['Facebook', 0.0, 'USD', 2974676]
['USD', 2974676, 3.5]
['USD', 1126879]

---
## List of Lists

Previously, we introduced lists as a better alternative to using one variable per data point. Instead of having a separate variable for each of the five data points `'Facebook', 0.0, 'USD', 2974676, 3.5`, we can bundle the data points together into a list, and then store the list in a single variable.

So far, we've been working with a dataset that has five rows and we've been storing each row as a list in a separate variable (the variables `row_1`, `row_2`, `row_3`, `row_4`, and `row_5`). If we had a dataset with 5,000 rows, we'd end up with 5,000 variables which leads to messy code that is difficult to work.

To solve this problem, we can store our five variables in a single list:

In [28]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
row_5 = ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

data_set = [row_1, row_2, row_3, row_4, row_5]
data_set

[['Facebook', 0.0, 'USD', 2974676, 3.5],
 ['Instagram', 0.0, 'USD', 2161558, 4.5],
 ['Clash of Clans', 0.0, 'USD', 2130805, 4.5],
 ['Temple Run', 0.0, 'USD', 1724546, 4.5],
 ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]]

As we can see, `data_set` is a list that stores five other lists (`row_1`, `row_2`, `row_3`, `row_4`, and `row_5`). A list that contains other lists is called a **list of lists**.

The `data_set` variable is still a list, which means we can retrieve individual list elements and perform list slicing using the syntax we learned. Use the steps below to retrieve individual list elements and perform list slicing using syntax:

- Retrieve the first list element (`row_1`) using `data_set[0]`.
- Retrieve the last list element (`row_5`) using `data_set[-1]`.
- Retrieve the first two list elements (`row_1` and `row_2`) by performing list slicing using `data_set[:2]`.

In [29]:
print(data_set[0])
print(data_set[-1])
print(data_set[:2])

['Facebook', 0.0, 'USD', 2974676, 3.5]
['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]
[['Facebook', 0.0, 'USD', 2974676, 3.5], ['Instagram', 0.0, 'USD', 2161558, 4.5]]

We'll often need to retrieve individual elements from a list that's part of a list of lists — for instance, we may want to retrieve the value `3.5` from `['Facebook', 0.0, 'USD', 2974676, 3.5]`, which is part of the `data_set` list of lists. Below, we extract `3.5` from `data_set` using what we've learned:

- We retrieve `row_1` using `data_set[0]`, and assign the result to a variable named `fb_row`.
- We print `fb_row`, which outputs `['Facebook', 0.0, 'USD', 2974676, 3.5]`.
- We retrieve the last element from `fb_row` using `fb_row[-1]` (since `fb_row` is a list), and assign the result to a variable named `fb_rating`.
- Print `fb_rating`, which outputs 3.5

In [31]:
data_set = [row_1, row_2, row_3, row_4, row_5]
fb_row = data_set[0]
print(fb_row)

fb_rating = fb_row[-1]
print(fb_rating)

['Facebook', 0.0, 'USD', 2974676, 3.5]
3.5

Above, we retrieved `3.5` in two steps: we first retrieved `data_set[0]`, and then we retrieved `fb_row[-1]`. However, there's an easier way to retrieve the same value of `3.5` by chaining the two indices (`[0]` and `[-1]`) — the code `data_set[0][-1]` retrieves `3.5`:

In [32]:
data_set = [row_1, row_2, row_3, row_4, row_5]
print(data_set[0][-1])

3.5

Above, we've seen two ways to retrieve the value `3.5`. Both lead to the same output (`3.5`), but the second way involves less typing because it elegantly combines the steps we see in the first case. While you can choose either option, people generally choose the second one.

---
### Instruction

1. In the code editor, we've already stored the five rows as lists in separate variables. Group together the five lists in a list of lists. Assign the resulting list of lists to a variable named `app_data_set`.
2. Compute the average rating of the apps by retrieving the right data points from the `app_data_set` list of lists.
- The rating is the last element of each row. You'll need to add up the ratings and then divide by the number of ratings.
- Assign the result to a variable named `avg_rating`.

In [33]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
row_5 = ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

app_data_set = [row_1, row_2, row_3, row_4, row_5]
avg_rating = (app_data_set[0][-1] + app_data_set[1][-1] + app_data_set[2][-1] + app_data_set[3][-1] + app_data_set[4][-1]) / 5

print(avg_rating)

4.2

---
## Opening and Reading a File
Our best strategy is to type each data point and bundle them efficiently into a list of lists. The dataset above, however, has 7,197 rows and 16 columns, which amounts to 115,152 (7197 × 16) data points — typing all that would take days. We'd probably make typing errors, which would eventually lead to wrong data and false conclusions. Fortunately, we can leverage Python to store this dataset as a list of lists in a matter of seconds. We will learn how to do so on this screen and the next.

A dataset is generally stored as a file in a computer — the dataset above is stored as a file named `AppleStore.csv`.

To open the file in Python, we use the `open()` command. This will not open a text editor to show the contents, but will instead create an **object** (something which you'll learn more about in the next course). Let's open the file:

In [34]:
opened_file = open('AppleStore.csv')
opened_file

`open('AppleStore.csv')` returned the output `<_io.TextIOWrapper name='AppleStore.csv' mode='r' encoding='UTF-8'>`. For now, all we have to keep in mind is that the `AppleStore.csv` is opened once `open('AppleStore.csv')` has finished running.

After we open the file, we read it in using a command called `read()`.

In [35]:
opened_file = open('AppleStore.csv')
read_file = opened_file.read()

Unlike other commands `read` has a special syntactical usage following the pattern `open_file_object.read()`, rather than being simply used as `read(open_file_object)`. We'll get a better understanding of this syntactical coincidence after we learn about functions and methods.

The command `opened_file.read()` returned a string which we assigned to `read_file`. Let's take a look at its first 300 characters. To do this we'll use slices like we did on lists. It also work on strings!

In [36]:
opened_file = open('AppleStore.csv')
read_file = opened_file.read()
read_file[:300]

'id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic\n284882215,Facebook,389879808,USD,0.0,2974676,212,3.5,3.5,95.0,4+,Social Networking,37,1,29,1\n389801252,Instagram,11395481'

In the screenshot of the text editor on the first half of this screen, we see that the value of the header on the last column is `vpp_lic`. In the output, right after `vpp_lic` we can find `\n`. Similarly, right after the end of the second line, we see `\n` again. This is a special character used to represent the end of a line. You can think of it as pressing the `Enter key` in a text editor.

Using the `print()` command on `read_file[:300]` removes this character and instead show a line change.

In [37]:
opened_file = open('AppleStore.csv')
read_file = opened_file.read()
read_file[:300]
print(read_file[:300])

id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
284882215,Facebook,389879808,USD,0.0,2974676,212,3.5,3.5,95.0,4+,Social Networking,37,1,29,1
389801252,Instagram,11395481

After we're done working with a file that we opened, it is recommended that we close it. We won't discuss why right now, but know that it can lead to issues.

To close a file we use the `close()` command, with the same syntax as `read()`:

In [38]:
opened_file = open('AppleStore.csv')
read_file = opened_file.read()
read_file[:300]
print(read_file[:300])
opened_file.close()

id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
284882215,Facebook,389879808,USD,0.0,2974676,212,3.5,3.5,95.0,4+,Social Networking,37,1,29,1
389801252,Instagram,11395481

As a side note, the `AppleStore.csv` file is currently located on our servers. Later in this course, we'll help you set up your own environment **locally** — you'll be able to run Python code and open the `AppleStore.csv` on your own local computer (you're currently running code and opening the file in a browser).

---
### Instructions

Open the `AppleStore.csv` file and store it as a string.

1. Open the file using the `open()` command. Save the output to a variable named `opened_file`.
2. Read in the opened file using the `read()` command. Save the output to a variable named `read_file`.
3. Print the first 300 characters of `read_file`.
4. Close `opened_file`.

In [39]:
opened_file = open('AppleStore.csv')
read_file = opened_file.read()
read_file[:300]
print(read_file[:300])
opened_file.close()

id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
284882215,Facebook,389879808,USD,0.0,2974676,212,3.5,3.5,95.0,4+,Social Networking,37,1,29,1
389801252,Instagram,11395481

---
## From Strings to Lists

If you remember, our goal is to have the data in the file `AppleStore.csv` as a list of lists in Python. On the last screen, we read the file into a string named `read_file`.

On this screen, we will work on this data as a list of lists instead of a string. To do this, we will use the `split()` command. Like the `read()` and `close()` commands that we learned on the previous screen, `split()` shares the same special syntax. The usage will be a little different since we will be passing in a value inside the parentheses.

In [40]:
new_line_split = read_file.split("\n")
print(new_line_split[:5])

['id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic', '284882215,Facebook,389879808,USD,0.0,2974676,212,3.5,3.5,95.0,4+,Social Networking,37,1,29,1', '389801252,Instagram,113954816,USD,0.0,2161558,1289,4.5,4.0,10.23,12+,Photo & Video,37,0,29,1', '529479190,Clash of Clans,116476928,USD,0.0,2130805,579,4.5,4.5,9.24.12,9+,Games,38,5,18,1', '420009108,Temple Run,65921024,USD,0.0,1724546,3842,4.5,4.0,1.6.2,9+,Games,40,5,1,1']

The `split()` command returned a list. Looking at its first five elements, we see that each element of the list corresponds to one line of the text file. We split `read_file` into a list of strings by breaking up the string using `\n` as a separator.

We can now use the same technique to split each of these strings into a list by passing the comma character (`,`) as a separator. Let's see this process for the first three elements of the list `new_line_split`. We'll begin by creating a list that contains the first three elements of `new_line_split`, and then split the elements of this new list on the comma character.

In [41]:
new_line_split = read_file.split("\n")

header = new_line_split[0]
data_row_1 = new_line_split[1]
data_row_2 = new_line_split[2]

first_three = [header, data_row_1, data_row_2]
print(first_three)

print(first_three[0].split(","))
print(first_three[1].split(","))
print(first_three[2].split(","))

['id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic', '284882215,Facebook,389879808,USD,0.0,2974676,212,3.5,3.5,95.0,4+,Social Networking,37,1,29,1', '389801252,Instagram,113954816,USD,0.0,2161558,1289,4.5,4.0,10.23,12+,Photo & Video,37,0,29,1']
['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic']
['284882215', 'Facebook', '389879808', 'USD', '0.0', '2974676', '212', '3.5', '3.5', '95.0', '4+', 'Social Networking', '37', '1', '29', '1']
['389801252', 'Instagram', '113954816', 'USD', '0.0', '2161558', '1289', '4.5', '4.0', '10.23', '12+', 'Photo & Video', '37', '0', '29', '1']

Notice how we used `,` instead of `\n` to split on. That's because the fields in the string are separated by commas. This way, we were able to get a list representation of each of the first three rows.

---
### Instructions

1. Create a **list of lists** with three elements where each element represents the first three rows of `new_line_split` split on the comma character. Assign it to `first_three_lists`.

In [45]:
header = new_line_split[0].split(",")
data_row_1 = new_line_split[1].split(",")
data_row_2 = new_line_split[2].split(",")

first_three_lists = [header, data_row_1, data_row_2]
first_three_lists

[['id',
  'track_name',
  'size_bytes',
  'currency',
  'price',
  'rating_count_tot',
  'rating_count_ver',
  'user_rating',
  'user_rating_ver',
  'ver',
  'cont_rating',
  'prime_genre',
  'sup_devices.num',
  'ipadSc_urls.num',
  'lang.num',
  'vpp_lic'],
 ['284882215',
  'Facebook',
  '389879808',
  'USD',
  '0.0',
  '2974676',
  '212',
  '3.5',
  '3.5',
  '95.0',
  '4+',
  'Social Networking',
  '37',
  '1',
  '29',
  '1'],
 ['389801252',
  'Instagram',
  '113954816',
  'USD',
  '0.0',
  '2161558',
  '1289',
  '4.5',
  '4.0',
  '10.23',
  '12+',
  'Photo & Video',
  '37',
  '0',
  '29',
  '1']]

---
## For Loops

We mentioned earlier that there are 7,197 rows (apps) in our dataset. `len(new_line_split)` indicates there are 7,198 rows, because it also considers the header row which describes the column names.

In [46]:
len(new_line_split)

7199

We would like to split each of the strings in `new_line_split` into a list, but there are too many of them to do it manually.

Looking at the previous screen, we see that a process keeps repeating: we split the string on `,`. In the example, the list had three elements, so we repeated the process three times. What if we could tell Python directly that we want to repeat this process for each list in `first_three`?

Fortunately, we can do that — Python offers us an easy way to repeat a process, which helps us when we need to repeat a process hundreds, thousands, or even millions of times.

Let's say we have a list `[3, 5, 1, 2]` assigned to a variable `ratings`, and we want to repeat the following process: **for** each element **in** `ratings`, print its index and itself. This is how we could translate that into Python syntax:

In [47]:
ratings = [3, 5, 1, 2]

index = 0 # Initialization of the index
for element in ratings:
    print(index)
    print(element)
    index += 1 # Updates the index for the next iteration

0
3
1
5
2
1
3
2

The process we wish to repeat in our example is "splitting on the character `,`" for every string in `first_three`. Here's one way to do it in Python:

In [50]:
header = new_line_split[0]
data_row_1 = new_line_split[1]
data_row_2 = new_line_split[2]

first_three = [header, data_row_1, data_row_2]

index = 0
for each_string in first_three:
    first_three[index] = each_string.split(",")
    print(first_three[index])
    index += 1
    
print(first_three)

['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic']
['284882215', 'Facebook', '389879808', 'USD', '0.0', '2974676', '212', '3.5', '3.5', '95.0', '4+', 'Social Networking', '37', '1', '29', '1']
['389801252', 'Instagram', '113954816', 'USD', '0.0', '2161558', '1289', '4.5', '4.0', '10.23', '12+', 'Photo & Video', '37', '0', '29', '1']
[['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic'], ['284882215', 'Facebook', '389879808', 'USD', '0.0', '2974676', '212', '3.5', '3.5', '95.0', '4+', 'Social Networking', '37', '1', '29', '1'], ['389801252', 'Instagram', '113954816', 'USD', '0.0', '2161558', '1289', '4.5', '4.0', '10.23', '12+', 'Photo & Video', '37', '0', '29', '1']]

Let's try to get a better understanding of what happens above. We begin by initializing the index with the value of 0. We will use this variable to keep track of what index `each_string` refers to. Python then isolates, one at a time, each list element from `first_three`, assigns it to `each_string`, splits it on `,` and returns back to the element of `first_three` in the current index.

The code in the last diagram above is a much more simplified and abstracted version of the code below:

In [51]:
first_three = [header, data_row_1, data_row_2]

first_three[0] = first_three[0].split(",")
print(first_three[0])
first_three[1] = first_three[1].split(",")
print(first_three[1])
first_three[2] = first_three[2].split(",")
print(first_three[2])

['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic']
['284882215', 'Facebook', '389879808', 'USD', '0.0', '2974676', '212', '3.5', '3.5', '95.0', '4+', 'Social Networking', '37', '1', '29', '1']
['389801252', 'Instagram', '113954816', 'USD', '0.0', '2161558', '1289', '4.5', '4.0', '10.23', '12+', 'Photo & Video', '37', '0', '29', '1']

Using the technique above requires us to write a line of code for every row in the dataset. But using the `for each_string in first_three` technique requires us to write only two lines of code, regardless of the number of rows in the dataset — the dataset can have three rows or a million.

Before writing any code, we need to indent the code we want repeated four space characters to the right:

In [52]:
first_three = [header, data_row_1, data_row_2]

index = 0
for each_string in first_three:
    first_three[index] = each_string.split(",")
    print(first_three[index])
    index += 1
    
print(first_three)

['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic']
['284882215', 'Facebook', '389879808', 'USD', '0.0', '2974676', '212', '3.5', '3.5', '95.0', '4+', 'Social Networking', '37', '1', '29', '1']
['389801252', 'Instagram', '113954816', 'USD', '0.0', '2161558', '1289', '4.5', '4.0', '10.23', '12+', 'Photo & Video', '37', '0', '29', '1']
[['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic'], ['284882215', 'Facebook', '389879808', 'USD', '0.0', '2974676', '212', '3.5', '3.5', '95.0', '4+', 'Social Networking', '37', '1', '29', '1'], ['389801252', 'Instagram', '113954816', 'USD', '0.0', '2161558', '1289', '4.5', '4.0', '10.23', '12+', 'Photo & Video', '37', '0', '29', '1']]

Technically, we only need to indent the code at least one space character to the right, but the convention in the Python community is to use four space characters. This helps with readability — it will be easier for other people who follow this practice to read your code, and it will be easier for you to read theirs.

The technique we've just learned is called a **loop**, because we always start with `for` (like in `for some_variable in some_list:`), this technique is known as a **for loop**.

The indented code in the **body** is executed the same number of times as elements in the **iterable variable**. If the iterable variable is a list that has three elements, the indented code in the body is executed three times. We call each code execution an **iteration** — there will be three iterations for a list that has three elements. For each iteration, the **iteration variable** will take a different value, following this pattern:

- For the first iteration, the value is the first element of the iterable (if the iterable is the list `[1, 3, 5]`, then the value will be 1).

- For the second iteration, the value is the second element of the iterable (if the iterable is the list `[1, 3, 5]`, then the value will be 3).

- For the third iteration, the value is the third element of the iterable (if the iterable is the list `[1, 3, 5]`, then the value will be 5).

In [53]:
a_list = [1, 3, 5]

for value in a_list:
    print(value)

1
3
5

The code _outside_ the loop body can interact with the code _inside_ the loop body. For instance, in the code below:

- We initialize a variable `a_sum` with a value of zero outside the loop body.
- We **loop** (or **iterate**) over `a_list`. For every iteration of the loop, we:
    - Perform an addition (_inside_ the loop body) between the current value of the iteration variable `value` and the current value stored in `a_sum` (`a_sum` was defined outside the loop body).
    - Assign the result of the addition back to `a_sum` (inside the loop body).
    - Print the value of the `a_sum` variable (inside the loop body). Notice that the value of `a_sum` changes after each addition. At the end of the loop, `a_sum` has the value `9`, which is equivalent to the sum of the numbers in `a_list` (`1 + 3 + 5`).

In [54]:
a_list = [1, 3, 5]

a_sum = 0
for value in a_list:
    a_sum = a_sum + value
    print(a_sum)
    
print(a_sum)

1
4
9
9

Above, we created a way to add up the numbers in a list. We can use this technique to add up the ratings in our datasets. Once we have the total, we only need to divide by the number of ratings to get the average value.

---
### Instructions

1. Use a for loop to modify `first_three` so that its elements are the first three rows (in order) split on the comma character.

In [55]:
header = new_line_split[0]
data_row_1 = new_line_split[1]
data_row_2 = new_line_split[2]
first_three = [header, data_row_1, data_row_2]

index=0
for each_string in first_three:
    first_three[index] = each_string.split(",")
    print(first_three[index])
    index += 1
    
print(first_three)

['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic']
['284882215', 'Facebook', '389879808', 'USD', '0.0', '2974676', '212', '3.5', '3.5', '95.0', '4+', 'Social Networking', '37', '1', '29', '1']
['389801252', 'Instagram', '113954816', 'USD', '0.0', '2161558', '1289', '4.5', '4.0', '10.23', '12+', 'Photo & Video', '37', '0', '29', '1']
[['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic'], ['284882215', 'Facebook', '389879808', 'USD', '0.0', '2974676', '212', '3.5', '3.5', '95.0', '4+', 'Social Networking', '37', '1', '29', '1'], ['389801252', 'Instagram', '113954816', 'USD', '0.0', '2161558', '1289', '4.5', '4.0', '10.23', '12+', 'Photo & Video', '37', '0', '29', '1']]

---
## Reading CSV Files

We've had to do a lot of work to store the data of a file as a list of lists in Python. The good news is that when a text file is sufficiently well-structured, there are tools that can helps us achieve the same result much faster. On this screen, we will be exploring one such alternative.

Once we've opened the file `AppleStore.csv` with `opened_file = open('AppleStore.csv')`, we can read it using a command called `reader()`. We _import_ the `reader()` command _from_ the `csv` **module** using the code `from csv import reader` (a module is a collection of commands and variables — we'll learn more about modules in the next lesson).

In [56]:
opened_file = open('AppleStore.csv')

from csv import reader
read_file = reader(opened_file)
opened_file.close()
read_file

Just like `open('AppleStore.csv')`, `reader(opened_file)` returned an object. Now that we've read the file, we can transform it into a list of lists using the `list()` command:

In [57]:
opened_file = open('AppleStore.csv')

from csv import reader
read_file = reader(opened_file)
apps_data = list(read_file)
opened_file.close()

The `apps_data` variable above is a list of lists, and it stores a dataset of 7,197 rows and 16 columns. Below, we print only the first five rows of `apps_data` by using list slicing (and color each individual row differently to help you read the output easier):

In [58]:
opened_file = open('AppleStore.csv')

from csv import reader
read_file = reader(opened_file)
apps_data = list(read_file)
opened_file.close()

print(apps_data[:5])

[['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic'], ['284882215', 'Facebook', '389879808', 'USD', '0.0', '2974676', '212', '3.5', '3.5', '95.0', '4+', 'Social Networking', '37', '1', '29', '1'], ['389801252', 'Instagram', '113954816', 'USD', '0.0', '2161558', '1289', '4.5', '4.0', '10.23', '12+', 'Photo & Video', '37', '0', '29', '1'], ['529479190', 'Clash of Clans', '116476928', 'USD', '0.0', '2130805', '579', '4.5', '4.5', '9.24.12', '9+', 'Games', '38', '5', '18', '1'], ['420009108', 'Temple Run', '65921024', 'USD', '0.0', '1724546', '3842', '4.5', '4.0', '1.6.2', '9+', 'Games', '40', '5', '1', '1']]

---
### Instructions

Open the `AppleStore.csv` file and store it as list of lists.

1. Open the file using the `open()` command. Save the output to a variable named `opened_file`.
2. Read in the opened file using the `reader()` command (we've already imported `reader()` for you from the `csv` module). Save the output to a variable named `read_file`.
3. Transform the read-in file to a list of lists using the `list()` command. Save the list of lists to a variable named `apps_data`.
4. Close `opened_file`.
5. Explore `apps_data`. You could:
- Print its length using the `len()` command.
- Print the first row (the row describing column names).
- Print the second and the third row (try to use list slicing here).

In [59]:
from csv import reader

opened_file = open('AppleStore.csv')
read_file = reader(opened_file)
apps_data = list(read_file)
opened_file.close()

print(len(apps_data))
print(apps_data[0])
print(apps_data[1:3])

7198
['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic']
[['284882215', 'Facebook', '389879808', 'USD', '0.0', '2974676', '212', '3.5', '3.5', '95.0', '4+', 'Social Networking', '37', '1', '29', '1'], ['389801252', 'Instagram', '113954816', 'USD', '0.0', '2161558', '1289', '4.5', '4.0', '10.23', '12+', 'Photo & Video', '37', '0', '29', '1']]

---
## The Average App Rating

Now we move on to computing the average rating for the dataset that has 7,197 rows. Remember that first we need to open the file `AppleStore.csv` and transform it into a list of lists:

In [60]:
opened_file = open('AppleStore.csv')

from csv import reader
read_file = reader(opened_file)
apps_data = list(read_file)
opened_file.close()

print(len(apps_data))
print(apps_data[:5]) # We only print the first five rows

7198
[['id', 'track_name', 'size_bytes', 'currency', 'price', 'rating_count_tot', 'rating_count_ver', 'user_rating', 'user_rating_ver', 'ver', 'cont_rating', 'prime_genre', 'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic'], ['284882215', 'Facebook', '389879808', 'USD', '0.0', '2974676', '212', '3.5', '3.5', '95.0', '4+', 'Social Networking', '37', '1', '29', '1'], ['389801252', 'Instagram', '113954816', 'USD', '0.0', '2161558', '1289', '4.5', '4.0', '10.23', '12+', 'Photo & Video', '37', '0', '29', '1'], ['529479190', 'Clash of Clans', '116476928', 'USD', '0.0', '2130805', '579', '4.5', '4.5', '9.24.12', '9+', 'Games', '38', '5', '18', '1'], ['420009108', 'Temple Run', '65921024', 'USD', '0.0', '1724546', '3842', '4.5', '4.0', '1.6.2', '9+', 'Games', '40', '5', '1', '1']]

If we use the technique we learned and loop over `apps_data` to get the rating sum, we'll get a `TypeError`:

In [61]:
rating_sum = 0
for row in apps_data:
    rating = row[7]
    rating_sum = rating_sum + rating

TypeError: unsupported operand type(s) for +: 'int' and 'str'

This error happens because the first row of `apps_data` doesn't contain numbers (it describes column names). In the loop body, we assign the value of `row[7]` to the `rating` variable, and then we add `rating` to `rating_sum` for the first iteration of the loop. `row[7]` takes the string value `'user_rating'` (which is a column name). This means that running `rating_sum + rating` is equivalent to `0 + 'user_rating'`, which causes a `TypeError` because strings and integers cannot be added together.

Theoretically, we have two solutions:
1. Remove the first row from `apps_data` and then start the iteration over. To start the iteration over, we must:
    - Save the header row to a separate variable named `header`.
    - Save `apps_data[1:]` back to `apps_data` — `apps_data[1:]` is a list slice that excludes the first row (the header row).
2. Iterate directly over `apps_data[1:]`, which is a list slice that excludes the first row.

In [62]:
header = apps_data[0]
apps_data = apps_data[1:]

rating_sum = 0
for row in apps_data:
    rating = row[7]
    rating_sum = rating_sum + rating

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [63]:
rating_sum = 0
for row in apps_data[1:]:
    rating = row[7]
    rating_sum = rating_sum + rating

TypeError: unsupported operand type(s) for +: 'int' and 'str'

For some reason, we got the same error. Upon inspecting some of the rows in `apps_data`, we see that all the values are surrounded by quotation marks, which suggests they are strings. Once again, the error is caused by trying to add a string to an integer.

In [64]:
print(apps_data[1])
print(apps_data[1][7])
type(apps_data[1][7])

['389801252', 'Instagram', '113954816', 'USD', '0.0', '2161558', '1289', '4.5', '4.0', '10.23', '12+', 'Photo & Video', '37', '0', '29', '1']
4.5

str

In the previous lesson, we learned to convert strings to integers or floats (decimal numbers) using the `int()` and `float()` commands. The ratings are expressed as decimal points, so we'll convert them to floats using the `float()` command.

In [65]:
rating_sum = 0
for row in apps_data[1:]:
    rating = float(row[7])
    rating_sum = rating_sum + rating
    
print(rating_sum)

25380.0

---
### Instructions

Compute the average app rating for all the 7,197 apps stored in the dataset.

1. Initialize a variable named `rating_sum` with a value of zero.
2. Loop through the `apps_data[1:]` list of lists (make sure you don't include the header row). For each of the 7,197 iterations of the loop (**for** each row **in** `apps_data[1:]`):
    - Extract the rating of the app and store it to a variable named `rating` (the rating has the index number `7`). Make sure you convert the rating value from a string to a float using the `float()` command.
    - Add the value stored in `rating` to the current value of the `rating_sum`.
3. Divide the rating sum (stored in `rating_sum`) by the number of ratings to get an average value. Store the result in a variable named `avg_rating`.

In [67]:
opened_file = open('AppleStore.csv')
from csv import reader
read_file = reader(opened_file)
apps_data = list(read_file)

rating_sum = 0
for row in apps_data[1:]:
    rating = float(row[7])
    rating_sum += rating
    
print(rating_sum)
avg_rating = rating_sum / len(apps_data[1:])
print(avg_rating)

25383.5
3.526955675976101

---
## Alternative Way to Compute an Average

Now we'll learn an alternative way to compute the average rating value. After we create a list, we can add (or **append**) values to it using the `append()` command.

In [68]:
a_list = [1, 2]
a_list.append(3)
print(a_list)

[1, 2, 3]

In [69]:
empty_list = []
empty_list.append(12)
print(empty_list)

[12]

In [70]:
list_1 = []
list_2 = [5, 's', 1]

list_1.append('data')
list_2.append(1.6)

print(list_1)
print(list_2)

['data']
[5, 's', 1, 1.6]

Notice that `append()` also uses the special syntax we saw earlier in the mission.

Now that we know how to append values to a list, we can take the steps below to compute the average app rating:

1. We initialize an empty list.
2. We start looping over our dataset and _extract_ the ratings.
3. We _append_ the ratings to the empty list we created at step one.
4. Once we have all the ratings, we:
    - use the `sum()` command to sum up all the ratings (to be able to use `sum()`, we'll need to store the ratings as floats or integers); and then
    - we divide the sum by the number of ratings (which we can get using the `len()` command).
    
Below, we can see the steps above implemented for our dataset with five rows:

In [71]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Temple Run', 0.0, 'USD', 1724546, 4.5]
row_5 = ['Pandora - Music & Radio', 0.0, 'USD', 1126879, 4.0]

app_data_set = [row_1, row_2, row_3, row_4, row_5]

ratings = []
for row in app_data_set:
    rating = row[-1]
    ratings.append(rating)
    
print(ratings)

avg_rating = sum(ratings) / len(ratings)
print(avg_rating)

[3.5, 4.5, 4.5, 4.5, 4.0]
4.2

---
### Instructions

Using the new technique, we learned to compute the average app rating for all of the 7,197 apps stored in our dataset.

1.  an empty list named `all_ratings`.
2. Loop through the `apps_data[1:]` list of lists (make sure you don't include the header row). For each of the 7,197 iterations of the loop:
- Extract the rating of the app and store it to a variable named `rating` (the rating has the index number `7`). Make sure you convert the rating value from a string to a float.
- Append the value stored in `rating` to the list `all_ratings`.
3. Compute the sum of all ratings using the `sum()` command.
4. Divide the sum of all ratings by the number of ratings, and assign the result to a variable named `avg_rating`.

In [72]:
opened_file = open('AppleStore.csv')
from csv import reader
read_file = reader(opened_file)
apps_data = list(read_file)

all_ratings = []
for row in apps_data[1:]:
    rating = float(row[7])
    all_ratings.append(rating)
    
print(all_ratings)

avg_rating = sum(all_ratings) / len(all_ratings)

[3.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 3.0, 4.5, 4.5, 3.5, 5.0, 3.5, 4.5, 4.5, 3.5, 5.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 5.0, 4.5, 4.0, 3.5, 5.0, 4.5, 4.5, 3.5, 3.0, 4.5, 4.5, 4.0, 4.5, 5.0, 2.5, 3.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 3.5, 4.5, 4.5, 2.5, 4.5, 4.0, 4.5, 4.5, 5.0, 4.0, 4.0, 5.0, 3.0, 5.0, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.0, 4.5, 4.5, 3.5, 4.0, 4.0, 4.5, 4.5, 4.5, 3.5, 3.5, 4.5, 4.5, 4.5, 4.0, 2.0, 3.5, 5.0, 4.5, 4.5, 4.5, 4.0, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 4.5, 3.0, 4.5, 4.0, 3.5, 4.5, 4.5, 4.5, 5.0, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 3.5, 5.0, 4.5, 3.5, 4.5, 5.0, 4.5, 4.5, 4.5, 4.0, 4.5, 3.5, 4.0, 4.0, 5.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 5.0, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 5.0, 4.5, 3.5, 3.0, 4.5, 4.5, 4.5, 4.5, 3.5, 4.0, 4.5, 3.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 3.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 3.5, 4.0, 3.0, 4.5, 3.0, 4.0, 3.5, 4.5, 3.5, 4.5, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 4.5, 5.0, 5.0, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 3.0, 3.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 5.0, 4.0, 5.0, 3.5, 4.5, 4.5, 5.0, 4.0, 2.5, 4.5, 4.5, 4.5, 4.5, 4.5, 5.0, 4.5, 4.0, 4.5, 4.5, 3.5, 4.5, 4.0, 4.5, 5.0, 4.5, 4.5, 5.0, 4.5, 3.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 4.5, 4.0, 4.5, 4.5, 3.5, 4.5, 4.5, 3.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 3.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 3.5, 3.0, 4.5, 4.0, 4.5, 5.0, 4.5, 3.0, 4.0, 3.0, 4.5, 4.5, 4.5, 4.5, 5.0, 5.0, 4.5, 3.0, 4.5, 4.5, 4.0, 4.0, 2.0, 4.5, 4.5, 4.0, 4.5, 3.5, 4.0, 4.5, 3.5, 4.5, 4.5, 2.5, 4.5, 4.5, 3.5, 4.5, 4.0, 4.5, 5.0, 3.5, 4.0, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 3.5, 4.0, 4.5, 3.5, 4.5, 4.5, 4.5, 3.5, 3.5, 3.0, 4.5, 4.5, 3.5, 4.5, 3.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 3.5, 4.0, 2.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 5.0, 4.5, 4.5, 4.5, 4.0, 5.0, 4.5, 4.5, 4.5, 4.5, 4.5, 3.5, 4.0, 4.5, 3.0, 4.5, 3.0, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.0, 3.0, 3.5, 4.0, 4.5, 4.0, 4.5, 4.5, 2.5, 4.5, 4.5, 4.0, 4.5, 2.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 5.0, 4.5, 4.0, 5.0, 4.5, 4.0, 3.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 5.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 3.5, 3.5, 3.5, 3.5, 5.0, 4.0, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 5.0, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 5.0, 4.5, 3.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 4.5, 3.5, 4.5, 4.5, 4.5, 3.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 5.0, 5.0, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 5.0, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 2.5, 4.5, 4.5, 4.5, 3.5, 4.0, 4.5, 4.5, 4.0, 3.5, 4.0, 3.5, 4.5, 4.5, 3.0, 4.5, 4.0, 5.0, 4.5, 5.0, 4.5, 4.5, 4.5, 4.5, 5.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 3.0, 4.0, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 5.0, 3.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 2.5, 4.5, 5.0, 4.5, 4.5, 4.5, 4.5, 4.5, 5.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.0, 3.5, 4.5, 4.0, 5.0, 4.5, 4.0, 5.0, 4.5, 4.5, 3.5, 3.0, 4.5, 4.5, 4.0, 3.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 3.5, 4.5, 4.5, 4.0, 4.5, 3.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.0, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 5.0, 4.5, 4.5, 5.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 4.5, 4.5, 4.5, 4.0, 4.0, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.0, 4.0, 4.5, 4.0, 4.5, 4.0, 3.5, 3.5, 4.0, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 2.5, 4.0, 4.5, 4.5, 4.5, 5.0, 4.0, 4.5, 4.0, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 3.5, 3.0, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 3.5, 5.0, 5.0, 4.5, 4.0, 5.0, 4.0, 4.5, 4.0, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 5.0, 4.5, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 3.0, 4.5, 3.5, 4.5, 5.0, 5.0, 4.0, 4.5, 4.5, 4.5, 4.0, 4.5, 3.5, 4.5, 4.5, 4.0, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 3.5, 4.0, 4.0, 4.0, 4.5, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 5.0, 4.5, 4.5, 4.5, 4.0, 4.0, 4.0, 4.5, 5.0, 3.5, 3.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 3.0, 4.5, 4.5, 4.5, 3.5, 5.0, 4.5, 4.5, 4.5, 3.0, 2.0, 3.5, 4.5, 4.5, 4.5, 4.5, 4.5, 5.0, 4.5, 4.5, 4.5, 4.5, 3.5, 4.5, 3.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 5.0, 4.0, 4.5, 4.5, 5.0, 3.5, 4.5, 4.0, 4.5, 5.0, 4.5, 4.5, 4.5, 4.0, 4.0, 4.5, 5.0, 4.5, 4.5, 5.0, 4.0, 3.5, 4.0, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 5.0, 3.5, 4.5, 5.0, 2.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 3.5, 4.5, 4.0, 4.0, 4.5, 5.0, 4.5, 4.0, 4.5, 5.0, 5.0, 3.5, 4.0, 4.5, 5.0, 5.0, 4.0, 4.5, 4.5, 4.5, 3.5, 4.5, 4.5, 5.0, 2.5, 4.5, 4.0, 3.0, 4.0, 4.5, 4.0, 4.5, 4.5, 3.5, 4.5, 4.0, 4.0, 4.5, 4.5, 5.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 5.0, 4.5, 4.5, 5.0, 5.0, 4.5, 4.0, 4.5, 4.5, 3.5, 4.0, 4.5, 4.5, 4.0, 5.0, 5.0, 4.0, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 5.0, 4.5, 5.0, 4.5, 3.5, 3.5, 4.5, 4.5, 4.0, 4.0, 4.5, 4.5, 4.0, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 3.5, 4.5, 5.0, 5.0, 4.0, 4.5, 4.0, 4.5, 4.5, 3.5, 4.5, 3.0, 4.5, 4.5, 4.0, 4.0, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 4.0, 5.0, 5.0, 4.5, 3.5, 4.5, 5.0, 4.5, 4.0, 3.0, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 3.5, 3.5, 4.5, 5.0, 4.5, 3.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.0, 5.0, 4.0, 4.0, 4.5, 5.0, 4.0, 4.0, 4.5, 4.5, 4.5, 3.5, 3.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 5.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 3.0, 4.0, 4.0, 4.5, 4.5, 4.5, 4.0, 4.0, 3.0, 4.5, 4.5, 5.0, 3.5, 4.5, 4.0, 4.0, 3.0, 3.0, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.0, 4.0, 4.5, 4.5, 4.0, 4.5, 5.0, 4.5, 4.5, 4.5, 4.0, 3.5, 5.0, 4.5, 4.5, 4.0, 5.0, 4.5, 4.5, 4.5, 4.5, 5.0, 4.0, 4.0, 4.5, 4.5, 3.5, 4.0, 4.0, 4.5, 4.0, 4.0, 4.5, 4.5, 4.0, 4.5, 3.5, 3.5, 4.5, 4.0, 4.0, 5.0, 4.0, 4.5, 4.5, 5.0, 4.5, 4.5, 4.0, 2.5, 3.5, 4.5, 4.0, 4.5, 4.5, 5.0, 4.0, 4.0, 4.5, 4.5, 4.5, 4.0, 4.0, 5.0, 4.0, 4.5, 3.5, 3.0, 3.0, 4.5, 4.0, 3.5, 5.0, 4.0, 4.0, 3.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 2.0, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 5.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 3.0, 4.5, 4.0, 4.5, 4.5, 5.0, 4.5, 4.5, 5.0, 5.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 5.0, 3.5, 4.5, 4.5, 4.0, 4.0, 5.0, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 4.5, 4.0, 4.5, 4.5, 5.0, 3.5, 4.5, 4.5, 4.0, 5.0, 4.0, 3.5, 4.5, 2.5, 4.0, 4.0, 4.5, 4.0, 4.5, 3.5, 4.5, 4.5, 4.5, 4.0, 3.5, 3.5, 4.5, 4.5, 4.0, 4.0, 4.0, 2.5, 4.5, 3.5, 4.5, 2.5, 4.0, 4.0, 4.0, 3.5, 4.5, 4.5, 4.0, 5.0, 3.5, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 5.0, 4.0, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 5.0, 4.0, 4.5, 3.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 4.0, 4.0, 4.5, 4.5, 4.5, 4.5, 5.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 3.5, 4.0, 4.5, 3.5, 4.0, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 3.5, 4.0, 4.5, 4.5, 5.0, 4.0, 4.5, 4.5, 4.5, 5.0, 5.0, 4.5, 4.5, 4.5, 4.5, 4.0, 5.0, 4.5, 5.0, 4.0, 4.0, 4.5, 3.5, 4.5, 4.0, 4.0, 4.5, 3.0, 4.0, 4.5, 5.0, 4.5, 4.5, 4.0, 4.5, 4.5, 5.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.0, 4.5, 4.0, 4.0, 4.5, 4.5, 4.0, 4.0, 4.0, 4.5, 4.5, 4.0, 3.0, 4.5, 4.5, 4.5, 4.0, 5.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 3.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 3.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 3.5, 4.0, 4.0, 4.0, 4.0, 4.5, 4.5, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 3.5, 4.5, 4.0, 4.5, 4.5, 4.5, 5.0, 4.5, 4.5, 4.5, 4.0, 4.5, 5.0, 2.5, 4.5, 4.5, 2.0, 2.0, 2.0, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.0, 3.5, 4.0, 4.0, 4.5, 4.0, 5.0, 4.0, 4.5, 3.0, 4.5, 4.5, 5.0, 5.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 2.5, 4.0, 4.5, 5.0, 4.0, 4.5, 3.5, 4.5, 4.0, 5.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 5.0, 4.5, 4.5, 5.0, 3.5, 4.0, 5.0, 4.0, 5.0, 2.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.0, 4.0, 4.5, 3.0, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 5.0, 3.0, 4.5, 4.5, 4.0, 4.0, 4.5, 4.5, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 4.0, 4.0, 4.0, 4.5, 4.5, 4.5, 4.5, 5.0, 4.0, 4.0, 5.0, 4.5, 4.5, 3.0, 3.0, 4.0, 4.5, 2.5, 4.0, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 2.5, 4.0, 4.5, 5.0, 4.5, 4.5, 4.5, 4.5, 4.5, 5.0, 4.0, 4.5, 4.0, 4.5, 5.0, 4.5, 4.5, 4.5, 4.5, 2.5, 4.5, 4.0, 4.0, 4.5, 4.0, 2.5, 4.5, 2.0, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 3.5, 4.0, 4.0, 4.0, 4.5, 3.5, 4.5, 4.0, 4.5, 4.5, 4.5, 2.0, 4.0, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 5.0, 4.5, 4.0, 5.0, 5.0, 4.0, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 5.0, 4.5, 4.0, 4.0, 4.0, 4.0, 4.5, 4.5, 3.0, 5.0, 5.0, 4.5, 4.0, 4.5, 3.5, 4.0, 4.5, 3.5, 4.5, 4.5, 5.0, 4.0, 4.0, 4.5, 3.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.0, 4.5, 4.5, 4.5, 3.5, 4.5, 5.0, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 3.5, 4.5, 4.5, 4.0, 5.0, 3.5, 3.5, 4.5, 3.5, 4.0, 4.0, 4.0, 3.0, 4.0, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.0, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 3.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 5.0, 4.0, 5.0, 5.0, 4.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 3.5, 4.0, 4.5, 4.5, 4.5, 4.5, 3.0, 4.5, 3.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 3.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 5.0, 4.0, 3.5, 4.5, 4.0, 4.5, 4.5, 5.0, 4.5, 5.0, 2.5, 2.5, 4.0, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 2.0, 4.0, 4.5, 4.5, 4.5, 4.5, 3.5, 4.0, 4.5, 4.5, 3.5, 4.0, 4.0, 2.5, 4.5, 2.0, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 5.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 3.0, 4.5, 4.5, 4.5, 4.0, 4.5, 5.0, 4.5, 4.5, 4.5, 3.5, 5.0, 4.5, 2.5, 4.5, 4.0, 4.5, 5.0, 4.5, 4.0, 4.5, 4.5, 5.0, 4.5, 4.5, 2.5, 4.0, 4.5, 5.0, 2.5, 4.5, 4.5, 5.0, 4.0, 4.5, 4.5, 2.0, 4.0, 3.5, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.0, 4.0, 3.5, 5.0, 4.5, 4.0, 4.5, 4.0, 4.0, 4.5, 4.0, 4.5, 4.5, 1.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.0, 4.0, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.0, 5.0, 3.0, 4.0, 2.0, 4.5, 4.0, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 3.5, 3.0, 5.0, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 4.0, 5.0, 4.5, 4.0, 3.5, 4.0, 4.5, 4.5, 3.5, 4.5, 4.5, 4.0, 3.5, 4.5, 5.0, 5.0, 4.5, 4.0, 4.5, 4.0, 4.5, 4.0, 4.0, 4.0, 4.5, 4.5, 4.5, 4.0, 4.0, 4.0, 4.0, 4.5, 4.0, 3.0, 4.0, 4.5, 4.5, 4.5, 3.0, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.0, 4.0, 3.5, 4.0, 3.5, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 5.0, 4.5, 4.5, 4.0, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 2.5, 4.5, 5.0, 4.5, 4.5, 4.5, 4.5, 4.5, 3.5, 4.5, 4.5, 4.0, 2.0, 3.0, 2.5, 3.5, 4.5, 5.0, 4.5, 4.5, 1.5, 4.0, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 2.0, 4.5, 3.0, 4.5, 4.5, 4.0, 4.0, 4.5, 4.5, 4.5, 3.0, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 3.5, 3.5, 3.5, 4.5, 5.0, 4.5, 4.0, 3.5, 3.5, 4.0, 3.5, 3.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 3.5, 4.0, 4.5, 4.0, 4.0, 4.0, 4.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 3.5, 4.0, 3.5, 5.0, 4.5, 4.5, 5.0, 4.0, 4.0, 4.0, 5.0, 4.0, 4.0, 4.0, 5.0, 5.0, 4.5, 4.5, 4.0, 2.0, 4.0, 3.0, 4.5, 4.5, 4.0, 4.5, 5.0, 4.5, 5.0, 3.5, 4.5, 4.0, 4.5, 4.5, 4.5, 3.5, 4.5, 3.0, 4.0, 4.5, 4.0, 4.5, 4.5, 5.0, 5.0, 4.5, 4.0, 4.5, 2.5, 4.5, 4.5, 3.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 2.5, 4.0, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 3.5, 4.5, 4.5, 4.0, 4.0, 4.5, 4.0, 4.5, 4.0, 4.5, 5.0, 4.5, 3.5, 3.0, 2.5, 4.5, 3.5, 4.0, 4.0, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 5.0, 5.0, 4.0, 4.0, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 3.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 5.0, 4.0, 4.0, 4.0, 4.5, 4.0, 4.5, 3.5, 4.5, 4.5, 4.0, 4.5, 3.5, 4.5, 4.5, 3.5, 4.0, 4.0, 4.0, 4.5, 4.5, 4.0, 4.5, 3.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 5.0, 4.0, 4.0, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 5.0, 4.5, 4.5, 4.0, 3.0, 4.0, 4.0, 2.5, 3.5, 4.5, 3.5, 4.5, 4.5, 3.0, 5.0, 4.5, 4.5, 4.5, 4.5, 5.0, 4.0, 3.0, 4.0, 4.5, 4.5, 3.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 5.0, 5.0, 4.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 5.0, 5.0, 3.5, 4.0, 4.5, 4.0, 4.5, 3.5, 4.0, 4.0, 4.0, 4.0, 2.5, 4.5, 4.5, 4.5, 3.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.0, 4.5, 5.0, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.0, 4.5, 1.5, 2.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 3.5, 3.5, 4.0, 4.0, 4.0, 4.5, 4.0, 4.0, 4.0, 4.0, 4.5, 4.0, 4.5, 4.0, 4.0, 2.0, 4.5, 3.5, 3.5, 3.5, 5.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 3.5, 3.5, 4.0, 5.0, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.0, 3.0, 4.5, 4.0, 4.5, 3.5, 4.5, 4.0, 4.5, 4.5, 4.0, 3.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 3.5, 3.0, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.0, 4.0, 4.0, 3.0, 5.0, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 3.0, 4.0, 4.0, 4.0, 4.5, 4.5, 4.5, 2.5, 4.5, 3.0, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 5.0, 4.5, 5.0, 4.5, 2.5, 4.5, 4.5, 4.5, 4.0, 4.5, 5.0, 4.5, 5.0, 4.5, 4.0, 4.5, 3.5, 4.0, 3.5, 4.0, 4.0, 4.5, 5.0, 4.0, 4.0, 4.0, 4.5, 4.5, 4.5, 3.5, 3.5, 4.0, 4.5, 3.5, 4.0, 3.5, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 3.0, 5.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 4.5, 3.5, 1.5, 5.0, 4.5, 4.5, 4.5, 4.5, 3.5, 4.5, 4.0, 4.0, 3.0, 4.0, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 5.0, 5.0, 3.5, 3.5, 4.0, 4.5, 4.0, 4.5, 5.0, 4.0, 4.5, 4.0, 3.0, 3.0, 4.0, 4.5, 3.0, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 3.5, 3.5, 2.0, 4.0, 4.5, 4.0, 4.0, 3.0, 2.5, 4.5, 5.0, 5.0, 4.0, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 4.0, 4.5, 3.0, 3.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 5.0, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 5.0, 4.5, 3.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.0, 4.0, 3.5, 4.5, 4.5, 4.5, 3.0, 4.5, 4.5, 2.5, 4.5, 3.5, 4.5, 3.0, 2.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.0, 4.0, 4.5, 4.5, 5.0, 4.5, 4.5, 3.5, 4.5, 5.0, 4.0, 4.0, 4.0, 4.5, 4.0, 3.0, 4.5, 4.5, 3.5, 2.0, 4.0, 2.0, 3.5, 4.5, 3.5, 4.0, 4.0, 3.0, 4.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 5.0, 3.0, 4.0, 2.5, 4.5, 4.5, 3.0, 3.5, 4.5, 5.0, 4.5, 4.0, 4.5, 3.5, 4.0, 2.5, 5.0, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 3.0, 3.5, 3.5, 4.5, 4.0, 4.5, 4.0, 3.5, 4.5, 3.5, 4.5, 4.5, 3.5, 4.5, 3.5, 4.5, 4.5, 4.0, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 3.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.0, 4.0, 4.0, 4.5, 3.0, 4.0, 4.0, 4.0, 2.0, 4.0, 2.5, 4.5, 4.5, 4.5, 4.0, 4.5, 3.5, 4.5, 4.0, 3.5, 4.5, 4.0, 3.0, 4.0, 4.0, 4.5, 3.0, 4.0, 5.0, 4.0, 4.5, 2.5, 3.0, 4.5, 4.5, 4.5, 4.5, 4.0, 3.5, 4.0, 4.5, 5.0, 4.0, 4.5, 2.5, 2.5, 3.0, 4.0, 4.0, 4.0, 4.5, 3.0, 4.5, 3.0, 4.5, 3.0, 4.0, 3.0, 4.0, 4.0, 4.5, 4.0, 3.0, 4.5, 4.0, 4.5, 3.0, 4.0, 4.5, 4.5, 5.0, 4.5, 4.0, 4.5, 3.0, 4.5, 4.5, 4.0, 4.5, 4.5, 5.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 5.0, 4.0, 5.0, 4.5, 4.0, 4.5, 3.5, 4.0, 2.0, 4.0, 4.5, 4.0, 3.5, 1.5, 4.5, 4.0, 2.0, 4.5, 4.0, 4.0, 4.0, 4.5, 4.5, 5.0, 4.0, 3.5, 2.5, 4.0, 4.5, 4.5, 4.5, 4.0, 4.0, 4.5, 2.5, 2.5, 4.5, 4.5, 4.5, 2.5, 4.5, 4.5, 4.0, 4.5, 4.5, 3.5, 3.5, 4.0, 3.5, 4.5, 3.0, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 5.0, 4.5, 4.0, 2.5, 2.5, 4.5, 4.0, 4.0, 4.5, 3.0, 3.5, 4.0, 3.0, 4.0, 4.0, 4.0, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 3.5, 4.5, 4.0, 4.0, 4.5, 4.5, 5.0, 4.0, 4.0, 4.0, 4.0, 5.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.0, 3.5, 4.5, 4.5, 4.0, 4.5, 4.0, 3.5, 4.0, 3.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 2.5, 5.0, 4.5, 4.5, 3.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 3.5, 4.0, 4.0, 4.0, 4.5, 4.5, 4.0, 3.0, 4.5, 4.0, 4.5, 4.5, 4.0, 3.0, 4.5, 4.5, 4.5, 4.0, 3.5, 4.0, 4.5, 4.5, 4.5, 4.5, 5.0, 3.5, 3.5, 4.5, 4.0, 4.0, 4.5, 3.5, 4.5, 4.0, 4.0, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 3.5, 3.5, 3.5, 4.5, 4.5, 4.0, 2.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 3.5, 3.5, 4.0, 4.5, 4.0, 4.5, 4.5, 3.5, 1.5, 3.0, 4.0, 2.5, 3.5, 4.5, 4.5, 5.0, 3.5, 4.0, 4.5, 2.5, 3.0, 4.5, 4.5, 4.0, 4.0, 5.0, 4.0, 4.5, 4.0, 4.0, 4.5, 4.5, 4.5, 4.0, 4.0, 4.5, 4.0, 4.5, 4.0, 4.5, 1.5, 4.5, 4.5, 4.0, 4.0, 4.5, 4.0, 3.0, 4.0, 4.5, 4.5, 3.0, 4.5, 4.5, 3.5, 3.5, 4.5, 3.5, 3.0, 4.5, 4.0, 4.5, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.5, 4.5, 3.5, 4.0, 4.0, 3.5, 4.5, 4.0, 4.0, 4.5, 4.5, 4.0, 2.0, 4.5, 4.5, 4.5, 3.0, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 3.5, 2.5, 4.0, 4.0, 2.5, 4.0, 5.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 1.5, 4.0, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.0, 1.5, 4.5, 4.0, 2.0, 4.0, 4.0, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 1.5, 3.5, 4.0, 5.0, 3.5, 2.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 3.5, 4.5, 3.0, 4.0, 4.5, 4.0, 4.0, 4.5, 4.0, 2.5, 4.0, 4.0, 3.0, 4.5, 4.5, 4.0, 4.5, 4.5, 3.0, 4.0, 4.0, 3.0, 4.5, 3.0, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 2.5, 3.5, 4.0, 3.5, 4.5, 4.0, 4.5, 3.5, 4.0, 4.5, 5.0, 3.5, 4.5, 4.5, 4.0, 3.5, 4.5, 4.5, 2.5, 3.0, 4.0, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.5, 4.5, 4.5, 5.0, 4.5, 4.5, 4.5, 3.5, 3.5, 3.0, 4.5, 3.5, 4.5, 4.0, 4.0, 3.5, 4.5, 4.5, 4.0, 4.5, 2.5, 4.0, 4.5, 4.0, 4.5, 4.0, 4.5, 3.5, 4.0, 4.0, 4.5, 4.5, 4.0, 4.0, 4.5, 4.0, 3.5, 3.0, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 1.0, 4.0, 3.5, 4.0, 4.5, 3.5, 4.0, 4.0, 3.5, 4.0, 4.5, 4.5, 4.5, 3.5, 4.0, 4.0, 3.0, 2.5, 1.5, 4.5, 4.5, 3.5, 4.0, 3.5, 4.0, 4.5, 4.5, 4.0, 3.5, 4.5, 4.0, 3.5, 3.5, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 2.5, 4.0, 4.0, 4.0, 3.5, 4.5, 4.0, 4.5, 4.0, 4.5, 3.5, 4.0, 4.0, 4.0, 4.0, 3.5, 4.5, 4.0, 4.5, 4.0, 4.0, 4.5, 4.5, 4.0, 4.5, 4.0, 3.5, 2.5, 4.5, 4.5, 4.0, 4.0, 4.0, 4.5, 3.0, 4.5, 4.0, 4.0, 4.5, 4.5, 4.0, 4.0, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 3.5, 3.0, 3.0, 3.0, 4.0, 2.0, 2.5, 4.0, 4.5, 3.5, 3.5, 3.5, 4.0, 2.5, 4.5, 4.5, 4.5, 4.5, 3.5, 3.0, 3.5, 3.5, 4.0, 3.5, 3.0, 4.0, 4.0, 4.0, 4.5, 4.0, 4.0, 3.5, 3.5, 4.0, 3.0, 4.5, 3.5, 4.5, 3.5, 4.5, 4.0, 4.5, 2.5, 3.5, 4.0, 5.0, 2.5, 4.5, 4.5, 4.5, 4.0, 4.0, 4.0, 4.5, 4.0, 3.5, 4.0, 4.0, 3.5, 5.0, 4.5, 4.5, 4.5, 4.0, 5.0, 3.5, 4.0, 4.5, 4.0, 4.0, 3.0, 4.0, 4.5, 4.5, 4.0, 2.5, 4.0, 5.0, 4.5, 3.5, 4.0, 4.5, 4.5, 4.0, 4.0, 5.0, 4.5, 5.0, 4.0, 4.5, 4.5, 5.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.5, 2.5, 3.5, 4.5, 4.5, 4.5, 4.0, 4.0, 3.0, 4.5, 4.0, 4.5, 4.0, 4.0, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 5.0, 2.5, 4.0, 4.5, 4.0, 4.5, 4.0, 4.5, 4.0, 3.5, 4.0, 4.5, 4.5, 4.0, 3.5, 3.5, 4.5, 4.5, 4.0, 3.0, 4.0, 4.5, 3.5, 3.5, 4.5, 4.5, 4.5, 4.5, 5.0, 4.5, 4.0, 4.5, 4.5, 5.0, 3.5, 3.5, 4.5, 2.0, 3.0, 4.5, 3.5, 3.5, 3.0, 4.0, 4.5, 4.0, 4.5, 4.5, 4.0, 4.0, 4.5, 3.5, 4.5, 3.0, 4.5, 3.5, 4.0, 3.5, 2.5, 4.5, 4.5, 5.0, 4.5, 4.5, 4.0, 4.5, 4.0, 3.5, 4.5, 4.5, 4.0, 4.0, 4.5, 4.0, 3.5, 5.0, 4.5, 4.0, 4.0, 5.0, 4.0, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 2.0, 3.5, 3.5, 4.5, 4.0, 4.5, 4.0, 4.0, 5.0, 3.5, 2.0, 5.0, 3.0, 4.5, 3.0, 5.0, 4.0, 1.5, 3.5, 4.5, 5.0, 4.0, 4.5, 5.0, 3.0, 2.5, 4.0, 4.5, 4.0, 4.0, 4.5, 5.0, 4.5, 4.5, 4.5, 3.5, 4.5, 3.0, 4.0, 3.0, 4.5, 4.0, 4.5, 4.0, 3.5, 3.5, 4.5, 5.0, 5.0, 4.0, 2.5, 4.0, 4.5, 4.5, 3.0, 2.5, 4.0, 3.5, 3.0, 4.0, 4.0, 4.0, 3.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.0, 3.0, 4.5, 3.5, 4.0, 4.5, 3.0, 3.0, 4.0, 4.0, 4.0, 4.0, 4.5, 3.5, 3.5, 4.5, 3.5, 4.5, 4.0, 4.0, 4.0, 4.5, 3.5, 4.5, 4.0, 4.5, 5.0, 4.0, 3.5, 4.5, 4.0, 3.5, 4.0, 5.0, 1.5, 4.5, 3.5, 3.5, 4.5, 4.0, 4.5, 4.0, 4.5, 2.5, 1.5, 3.0, 4.5, 4.5, 4.5, 4.0, 4.5, 5.0, 4.0, 4.5, 3.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 2.5, 4.0, 3.0, 4.0, 3.5, 4.0, 5.0, 3.5, 4.5, 3.5, 3.0, 4.5, 3.5, 4.5, 3.0, 4.5, 4.5, 4.5, 3.5, 4.0, 4.0, 4.0, 4.5, 2.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.5, 4.5, 4.5, 4.0, 1.0, 4.0, 4.0, 4.5, 4.5, 4.5, 3.5, 4.5, 4.0, 3.0, 3.5, 4.5, 3.0, 3.5, 4.5, 4.5, 3.0, 5.0, 4.0, 3.5, 4.0, 3.5, 5.0, 4.5, 4.5, 5.0, 4.5, 4.0, 4.0, 4.5, 3.0, 4.0, 4.0, 4.0, 3.5, 3.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.5, 4.0, 4.0, 4.5, 4.0, 4.0, 4.5, 3.5, 4.5, 4.0, 3.5, 4.0, 4.0, 3.0, 4.5, 4.5, 4.5, 3.0, 4.0, 4.5, 4.5, 5.0, 4.5, 4.0, 4.5, 4.0, 4.0, 3.5, 4.5, 3.5, 3.5, 4.0, 3.5, 4.5, 4.0, 4.5, 4.0, 3.5, 3.0, 4.5, 4.5, 5.0, 1.5, 3.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.5, 2.5, 4.0, 5.0, 4.5, 3.0, 3.5, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 1.5, 3.5, 2.5, 4.0, 3.0, 4.5,