### Introduction

In [1]:
import pandas as pd
import numpy as np

# read the data set into a pandas dataframe
f500 = pd.read_csv("f500.csv", index_col=0)
f500.index.name = None

# replace 0 values in the "previous_rank" column with NaN
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

1. Select the `rank`, `revenues`, and `revenue_change` columns in `f500`. Then, use the `DataFrame.head()` method to select the first 5 rows. Assign the result to `f500_selection`.

In [2]:
f500_selection = f500[["rank", "revenues", "revenue_change"]].head()

In [3]:
f500_selection

                          rank  revenues  revenue_change
Walmart                      1    485873             0.8
State Grid                   2    315199            -4.4
Sinopec Group                3    267518            -9.1
China National Petroleum     4    262573           -12.3
Toyota Motor                 5    254694             7.7

### Reading CSV files with pandas

1. Use the `pandas.read_csv()` function to read the `f500.csv` CSV file as a pandas dataframe. Assign it to the variable name `f500`.
- Do not use the `index_col` parameter.
2. Use the code below to insert the NaN values into the `previous_rank` column: 

`f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan`

In [4]:
f500 = pd.read_csv("f500.csv")
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

In [5]:
f500.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8.0,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

### Using iloc to Select by Integer Position

Without using the `index_col` parameter:
- The `company` column is now included as a regular column, instead of being used for the index.
- The index labels are now integers starting from `0`.

_Note_: This is the more conventional way to read in a dataframe and will be used from here on out.

We can use _integer positions_ to select data using `DataFrame.iloc[]` and `Series.iloc[]`.
- **l**oc: **l**abel based selection
- **i**loc: **integer** position based selection

**Syntax**

`df.iloc[row_index, column_index]`

1. Select just the fifth row of the `f500` dataframe. Assign the result to `fifth_row`.

In [6]:
fifth_row = f500.iloc[4]

In [7]:
fifth_row

company                                     Toyota Motor
rank                                                   5
revenues                                          254694
revenue_change                                       7.7
profits                                          16899.3
assets                                            437575
profit_change                                      -12.3
ceo                                          Akio Toyoda
industry                        Motor Vehicles and Parts
sector                            Motor Vehicles & Parts
previous_rank                                          8
country                                            Japan
hq_location                                Toyota, Japan
website                     http://www.toyota-global.com
years_on_global_500_list                              23
employees                                         364445
total_stockholder_equity                          157210
Name: 4, dtype: object

2. Select the value in the first row of the `company` column. Assign the result to `company_value`.

In [8]:
company_value = f500["company"].iloc[0]

In [9]:
company_value

'Walmart'

### Using iloc to Select by Integer Position (Continued)

To select a whole column:

In [10]:
first_column = f500.iloc[:, 0]
first_column

0                             Walmart
1                          State Grid
2                       Sinopec Group
3            China National Petroleum
4                        Toyota Motor
                    ...
495    Teva Pharmaceutical Industries
496          New China Life Insurance
497         Wm. Morrison Supermarkets
498                               TUI
499                        AutoNation
Name: company, Length: 500, dtype: object

To select a positional slice:

In [11]:
second_to_sixth_rows = f500[1:5]
second_to_sixth_rows

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8.0,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

- With `loc[]`, the ending slice **is** included.
- With `iloc[]`, the ending slice **is not** included.

| Select by integer position | Explicit Syntax | Shorthand Convention |
| :--- | :--- | :---|
| Single column from dataframe | `df.iloc[:,[3,5,6]]` | |
| List of columns from dataframe | `df.iloc[:,3]` | |
| Slice of columns from dataframe | `df.iloc[:,3:7]` | |
| Single row from dataframe | `df.iloc[20]` | |
| List of rows from dataframe | `df.iloc[[0,3,8]]` | |
| Slice of rows from dataframe | `df.iloc[3:5]` | `df[3:5]` |
| Single items from series | `s,iloc[8]` | `s[8]` |
| List of items from series | `s.iloc[[2,8,1]]` | `s[[2,8,1]]` |
| Slice of items from series | `s.iloc[5:10]` | `s[5:10]` |

1. Select the first three rows of the `f500` dataframe. Assign the result to `first_three_rows`.

In [12]:
first_three_rows = f500.iloc[:3]
first_three_rows

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19,713288,106523

2. Select the first and seventh rows and the first five columns of the `f500` dataframe. Assign the result to `first_seventh_row_slice`.

In [13]:
first_seventh_row_slice = f500.iloc[[0,6], :5]
first_seventh_row_slice

             company  rank  revenues  revenue_change  profits
0            Walmart     1    485873             0.8  13643.0
6  Royal Dutch Shell     7    240033           -11.8   4575.0

### Using pandas Methods to Create Boolean Masks

Use `Series.isnull()` to view rows with null values in the `revenue_change` column:

In [14]:
rev_is_null = f500["revenue_change"].isnull()
rev_is_null.head()

0    False
1    False
2    False
3    False
4    False
Name: revenue_change, dtype: bool

In [15]:
rev_change_null = f500[rev_is_null]
rev_change_null[["company", "country", "sector"]]

                        company  country      sector
90                       Uniper  Germany      Energy
180  Hewlett Packard Enterprise      USA  Technology

1. Use the `Series.isnull()` method to select all rows from `f500` that have a null value for the `previous_rank` column. Select only the `company`, `rank`, and `previous_rank` columns. Assign the result to `null_previous_rank`.

In [16]:
null_previous_rank = f500[f500["previous_rank"].isnull()][["company", "rank", "previous_rank"]]
null_previous_rank

                                   company  rank  previous_rank
48                   Legal & General Group    49            NaN
90                                  Uniper    91            NaN
123                      Dell Technologies   124            NaN
138                 Anbang Insurance Group   139            NaN
140                        Albertsons Cos.   141            NaN
180             Hewlett Packard Enterprise   181            NaN
267                           Hengli Group   268            NaN
271         Johnson Controls International   272            NaN
341                                  Chubb   342            NaN
375                 Charter Communications   376            NaN
376                              Medtronic   377            NaN
392                               Facebook   393            NaN
409                            Kraft Heinz   410            NaN
414                                  Nokia   415            NaN
431                          Standard Life   432            NaN
440            Brookfield Asset Management   441            NaN
441        Mercantil Servicios Financieros   442            NaN
446                            Samsung C&T   447            NaN
456                        Heraeus Holding   457            NaN
458                Yango Financial Holding   459            NaN
461                  Alibaba Group Holding   462            NaN
463                            Progressive   464            NaN
466                Country Garden Holdings   467            NaN
472                                 Altice   473            NaN
477                       Tencent Holdings   478            NaN
482                                  Aflac   483            NaN
484                  Suning Commerce Group   485            NaN
487                             Xiamen C&D   488            NaN
491                         Dollar General   492            NaN
493               Xiamen ITG Holding Group   494            NaN
494  Xinjiang Guanghui Industry Investment   495            NaN
495         Teva Pharmaceutical Industries   496            NaN
499                             AutoNation   500            NaN

### Working with Integer Labels

If we wanted to select the first company from our new `null_previous_rank` dataframe by _integer position_, we can use `DataFrame.iloc[]`:

In [17]:
first_null_prev_rank = null_previous_rank.iloc[0]
first_null_prev_rank

company          Legal & General Group
rank                                49
previous_rank                      NaN
Name: 48, dtype: object

If we wanted to select a row using `loc[]`, we'd have to use the integer label for the first row -- `48`.

1. Assign the first five rows of the `null_previous_rank` dataframe to the variable `top5_null_prev_rank` by choosing the correct method out of either `loc[]` or `iloc[]`.

In [19]:
null_previous_rank = f500[f500["previous_rank"].isnull()]
null_previous_rank

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
48,Legal & General Group,49,105235,442.3,1697.9,577954,3.4,Nigel Wilson,"Insurance: Life, Health (stock)",Financials,NaN,Britain,"London, Britain",http://www.legalandgeneralgroup.com,17,8939,8579
90,Uniper,91,74407,NaN,-3557.5,51541,NaN,Klaus Schafer,Energy,Energy,NaN,Germany,"Dusseldorf, Germany",http://www.uniper.energy,1,12890,12889
123,Dell Technologies,124,64806,18.1,-1672.0,118206,NaN,Michael S. Dell,"Computers, Office Equipment",Technology,NaN,USA,"Round Rock, TX",http://www.delltechnologies.com,17,138000,13243
138,Anbang Insurance Group,139,60800,124.0,3883.9,430040,0.9,Wu Xiaohui,"Insurance: Life, Health (Mutual)",Financials,NaN,China,"Beijing, China",http://www.anbanggroup.com,1,40707,20372
140,Albertsons Cos.,141,59678,1.6,-373.3,23755,NaN,Robert G. Miller,Food and Drug Stores,Food & Drug Stores,NaN,USA,"Boise, ID",http://www.albertsons.com,13,273000,1371
180,Hewlett Packard Enterprise,181,50123,NaN,3161.0,79679,NaN,Margaret C. Whitman,Information Technology Services,Technology,NaN,USA,"Palo Alto, CA",http://www.hpe.com,1,195000,31448
267,Hengli Group,268,37880,12.2,821.7,14838,43.7,Chen Jianhua,Textiles,Industrials,NaN,China,"Suzhou City, China",http://www.hengli.com,1,61400,5498
271,Johnson Controls International,272,37674,-6.3,-868.0,63253,-155.5,Alex A. Molinaroli,Industrial Machinery,Industrials,NaN,Ireland,"Cork, Ireland",http://www.johnsoncontrols.com,13,209000,24118
341,Chubb,342,31469,65.7,4135.0,159786,45.9,Evan G. Greenberg,Insurance: Property and Casualty (Stock),Financials,NaN,Switzerland,"Zurich, Switzerland",http://www.chubb.com,1,31000,48275
375,Charter Communications,376,29003,197.3,3522.0,149067,NaN,Thomas M. Rutledge,Telecommunications,Telecommunications,NaN,USA,"Stamford, CT",http://www.charter.com,1,91500,40139
376,Medtronic,377,28833,42.3,3538.0,99782,32.3,Omar S. Ishrak,Medical Products and Equipment,Health Care,NaN,Ireland,"Dublin, Ireland",http://www.medtronic.com,1,98017,52063
392,Facebook,393,27638,54.2,10217.0,64961,177.0,Mark Zuckerberg,Internet Services and Retailing,Technology,NaN,USA,"Menlo Park, CA",http://www.facebook.com,1,17048,59194
409,Kraft Heinz,410,26487,44.4,3632.0,120480,472.9,Bernardo Hees,Food Consumer Products,"Food, Beverages & Tobacco",NaN,USA,"Pittsburgh, PA",http://www.kraftheinzcompany.com,3,41000,57358
414,Nokia,415,26113,73.4,-847.1,47354,-131.0,Rajeev Suri,Network and Other Communications Equipment,Technology,NaN,Finland,"Espoo, Finland",http://www.nokia.com,19,102687,21192
431,Standard Life,432,25279,46.9,496.7,235324,-77.2,Keith Skeoch,Diversified Financials,Financials,NaN,Britain,"Edinburgh, Britain",http://www.standardlife.com,19,6302,5370
440,Brookfield Asset Management,441,24411,22.6,1651.0,159826,-29.5,J. Bruce Flatt,Diversified Financials,Financials,NaN,Canada,"Toronto, Ontario, Canada",http://www.brookfield.com,1,55700,26453
441,Mercantil Servicios Financieros,442,24403,50.3,2004.2,148659,-10.5,Gustavo J. Vollmer A.,Banks: Commercial and Savings,Financials,NaN,Venezuela,"Caracas, Venezuela",http://www.msf.com,1,8370,7550
446,Samsung C&T,447,24217,105.2,92.5,36816,-96.2,Chi-Hun Choi,"Engineering, Construction",Engineering & Construction,NaN,South Korea,"Seoul, South Korea",http://www.samsungcnt.com,1,13898,15155
456,Heraeus Holding,457,23793,65.9,NaN,4982,NaN,Jan Rinnert,Metals,Materials,NaN,Germany,"Hanau, Germany",http://www.heraeus.com,7,12369,3160
458,Yango Financial Holding,459,23657,11.5,159.2,24231,-59.0,Lin Tengjiao,Diversified Financials,Financials,NaN,China,"Fuzhou, China",http://www.yangofinance.com,1,10234,1925
461,Alibaba Group Holding,462,23517,47.9,6489.5,73538,-42.2,Daniel Zhang,Internet Services and Retailing,Technology,NaN,China,"Hangzhou, China",http://www.alibabagroup.com,1,50097,40454
463,Progressive,464,23441,12.4,1031.0,33428,-18.7,Susan Patricia Griffith,Insurance: Property and Casualty (Stock),Financials,NaN,USA,"Mayfield Village, OH",http://www.progressive.com,4,31721,7957
466,Country Garden Holdings,467,23044,27.9,1733.6,85124,17.4,Mo Bin,Real estate,Financials,NaN,China,"Foshan, China",http://www.countrygarden.com.cn,1,94450,10091
472,Altice,473,22953,42.2,-1722.5,84805,NaN,Michel Combes,Telecommunications,Telecommunications,NaN,Netherlands,"Amsterdam, Netherlands",http://www.altice.net,1,49732,-2668
477,Tencent Holdings,478,22871,39.7,6185.9,56968,35.0,Pony Ma,Internet Services and Retailing,Technology,NaN,China,"Shenzhen, China",http://www.tencent.com,1,38775,25128
482,Aflac,483,22559,8.1,2659.0,129819,5.0,Daniel P. Amos,"Insurance: Life, Health (stock)",Financials,NaN,USA,"Columbus, GA",http://www.aflac.com,10,10212,20482
484,Suning Commerce Group,485,22366,3.7,106.0,19738,-23.6,Ren Jun,Specialty Retailers,Retailing,NaN,China,"Nanjing, China",http://www.suning.com,1,60354,9455
487,Xiamen C&D,488,22145,6.6,280.2,21729,15.6,Huang Wenzhou,Trading,Wholesalers,NaN,China,"Xiamen, China",http://www.chinacdc.com,1,18381,3985
491,Dollar General,492,21987,7.9,1251.1,11672,7.4,Todd J. Vasos,Specialty Retailers,Retailing,NaN,USA,"Goodlettsville, TN",http://www.dollargeneral.com,1,121000,5406
493,Xiamen ITG Holding Group,494,21930,34.3,35.6,12161,-25.1,Xu Xiaoxi,Trading,Wholesalers,NaN,China,"Xiamen, China",http://www.itgholding.com.cn,1,18454,1066
494,Xinjiang Guanghui Industry Investment,495,21919,31.1,251.8,31957,49.9,Shang Jiqiang,Trading,Wholesalers,NaN,China,"Urumqi, China",http://www.guanghui.com,1,65616,4563
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,NaN,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,NaN,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [20]:
top5_null_prev_rank = null_previous_rank.iloc[:5]
top5_null_prev_rank

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
48,Legal & General Group,49,105235,442.3,1697.9,577954,3.4,Nigel Wilson,"Insurance: Life, Health (stock)",Financials,NaN,Britain,"London, Britain",http://www.legalandgeneralgroup.com,17,8939,8579
90,Uniper,91,74407,NaN,-3557.5,51541,NaN,Klaus Schafer,Energy,Energy,NaN,Germany,"Dusseldorf, Germany",http://www.uniper.energy,1,12890,12889
123,Dell Technologies,124,64806,18.1,-1672.0,118206,NaN,Michael S. Dell,"Computers, Office Equipment",Technology,NaN,USA,"Round Rock, TX",http://www.delltechnologies.com,17,138000,13243
138,Anbang Insurance Group,139,60800,124.0,3883.9,430040,0.9,Wu Xiaohui,"Insurance: Life, Health (Mutual)",Financials,NaN,China,"Beijing, China",http://www.anbanggroup.com,1,40707,20372
140,Albertsons Cos.,141,59678,1.6,-373.3,23755,NaN,Robert G. Miller,Food and Drug Stores,Food & Drug Stores,NaN,USA,"Boise, ID",http://www.albertsons.com,13,273000,1371

### Pandas Index Alignment

Now that we've identified the rows with null values in the `previous_rank` column, let's use the `Series.notnull()` method to exclude them from the next part of the analysis.

In [21]:
previously_ranked = f500[f500["previous_rank"].notnull()]

Then create a `rank_change` column by subtracting the `rank` column from the `previous_rank` column:

In [22]:
rank_change = previously_ranked["previous_rank"] - previously_ranked["rank"]
rank_change.shape

(467,)

In [25]:
rank_change.tail(3)

496   -70.0
497   -61.0
498   -32.0
dtype: float64

Since the `rank_change` has 467 rows and the last integer index label is 498, we know that our index labels no longer align wiht the integer positions.

Suppose now we decided to add the `rank_change` series to the `f500` dataframe as a new column. Its index labels no longer match the index labels in `f500`, so how can this be done?

Another powerful aspect of pandas is that almost every operation will align on the index labels. The pandas library will align on index at every opportunity, no matter if our index labels are strings or integers -- this makes working with data from different sources or working with data when we have removed, added, or reordered rows much easier than it would be otherwise.

1. Use the `Series.notnull()` method to select all rows from `f500` that have a non-null value for the `previous_rank` column. Assign the result to `previously_ranked`.

In [26]:
previously_ranked = f500[f500["previous_rank"].notnull()]

2. From the `previously_ranked` dataframe, subtract the `rank` column from the `previous_rank` column. Assign the result to `rank_change`.

In [27]:
rank_change = previously_ranked["previous_rank"] - previously_ranked["rank"]

3. Assign the values in the `rank_change` to a new column in the `f500` dataframe, `"rank_change"`.

In [28]:
f500["rank_change"] = rank_change

In [29]:
f500.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798,0.0
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456,0.0
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19,713288,106523,1.0
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893,-1.0
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8.0,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210,3.0

### Using Boolean Operators

In [30]:
cols = ["company", "revenues", "country"]
f500_sel = f500[cols].head()
f500_sel

                    company  revenues country
0                   Walmart    485873     USA
1                State Grid    315199   China
2             Sinopec Group    267518   China
3  China National Petroleum    262573   China
4              Toyota Motor    254694   Japan

In [31]:
over_265 = f500_sel["revenues"] > 265000
china = f500_sel["country"] == "China"
combined = over_265 & china

In [32]:
combined

0    False
1     True
2     True
3    False
4    False
dtype: bool

In [33]:
final_cols = ["company", "revenues"]
result = f500_sel.loc[combined, final_cols]
result

         company  revenues
1     State Grid    315199
2  Sinopec Group    267518

1. Select all companies with revenues over 100 billion and negative profits from the `f500` dataframe. The result should include all columns.
- Create a boolean array that selects the companies with revenues greater than 100 billion. Assign the result to `large_revenue`.
- Create a boolean array that selects the companies with profits less than 0. Assign the result to `negative_profits`.
- Combine `large_revenue` and `negative_profits`. Assign the result to `combined`.
- Use `combined` to filter `f500`. Assign the result to `big_rev_neg_profit`.

In [34]:
large_revenue = f500["revenues"] > 100000
negative_profits = f500["profits"] < 0
combined = large_revenue & negative_profits
big_rev_neg_profit = f500[combined]
big_rev_neg_profit

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
32,Japan Post Holdings,33,122990,3.6,-267.4,2631385,-107.5,Masatsugu Nagato,"Insurance: Life, Health (stock)",Financials,37.0,Japan,"Tokyo, Japan",http://www.japanpost.jp,21,248384,91532,4.0
44,Chevron,45,107567,-18.0,-497.0,260078,-110.8,John S. Watson,Petroleum Refining,Energy,31.0,USA,"San Ramon, CA",http://www.chevron.com,23,55200,145556,-14.0

### Using Boolean Operators Continued

A more concise way of writing the above code is to remove the intermediate variables `large_revenue` and `negative_profits`:

`combined = (f500["revenues"] > 100000) & (f500["profits"] < 0)`

OR

`big_rev_neg_profit = f500[(f500["revenues"] > 100000) & (f500["profits"] < 0)]`

1. Select all rows for companies whose `country` value is either Brazil or Venezuela. Assign the result to `brazil_venezuela`.

In [36]:
brazil_venezuela = f500[(f500["country"] == "Brazil") | (f500["country"] == "Venezuela")]
brazil_venezuela

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
74,Petrobras,75,81405,-16.3,-4838.0,246983,NaN,Pedro Pullen Parente,Petroleum Refining,Energy,58.0,Brazil,"Rio de Janeiro, Brazil",http://www.petrobras.com.br,23,68829,76779,-17.0
112,Itau Unibanco Holding,113,66876,21.4,6666.4,415972,-13.7,Candido Botelho Bracher,Banks: Commercial and Savings,Financials,159.0,Brazil,"Sao Paulo, Brazil",http://www.itau.com.br,4,94779,37680,46.0
150,Banco do Brasil,151,58093,-13.4,2013.8,426416,-52.3,Paulo Rogerio Caffarelli,Banks: Commercial and Savings,Financials,115.0,Brazil,"Brasilia, Brazil",http://www.bb.com.br,23,100622,26551,-36.0
153,Banco Bradesco,154,57443,31.3,5127.9,366418,-5.7,Luiz Carlos Trabuco Cappi,Banks: Commercial and Savings,Financials,209.0,Brazil,"Osasco, Brazil",http://www.bradesco.com.br,21,94541,32369,55.0
190,JBS,191,48825,-0.1,107.7,31605,-92.3,Wesley Mendonca Batista,Food Production,"Food, Beverages & Tobacco",185.0,Brazil,"Sao Paulo, Brazil",http://jbss.infoinvest.com.br,8,237061,7307,-6.0
369,Vale,370,29363,14.7,3982.0,99014,NaN,Fabio Schvartsman,"Mining, Crude-Oil Production",Energy,417.0,Brazil,"Rio de Janeiro, Brazil",http://www.vale.com,11,73062,39042,47.0
441,Mercantil Servicios Financieros,442,24403,50.3,2004.2,148659,-10.5,Gustavo J. Vollmer A.,Banks: Commercial and Savings,Financials,NaN,Venezuela,"Caracas, Venezuela",http://www.msf.com,1,8370,7550,NaN
486,Ultrapar Holdings,487,22167,-2.3,447.5,7426,-0.8,Thilo Mannhardt,Energy,Energy,474.0,Brazil,"Sao Paulo, Brazil",http://www.ultra.com.br,8,15173,2621,-13.0

2. Select the first five companies in the Technology sector for which the country is **not** the USA from the `f500` dataframe. Assign the result to `tech_outside_usa`.

In [37]:
tech_outside_usa = f500[(f500["sector"] == "Technology") & (f500["country"] != "USA")].head()
tech_outside_usa

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
14,Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13.0,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376,-2.0
26,Hon Hai Precision Industry,27,135129,-4.3,4608.8,80436,-0.4,Terry Gou,"Electronics, Electrical Equip.",Technology,25.0,Taiwan,"New Taipei City, Taiwan",http://www.foxconn.com,13,726772,33476,-2.0
70,Hitachi,71,84558,1.2,2134.3,86742,48.8,Toshiaki Higashihara,"Electronics, Electrical Equip.",Technology,79.0,Japan,"Tokyo, Japan",http://www.hitachi.com,23,303887,26632,8.0
82,Huawei Investment & Holding,83,78511,24.9,5579.4,63837,-5.0,Ren Zhengfei,Network and Other Communications Equipment,Technology,129.0,China,"Shenzhen, China",http://www.huawei.com,8,180000,20159,46.0
104,Sony,105,70170,3.9,676.4,158519,-45.1,Kazuo Hirai,"Electronics, Electrical Equip.",Technology,113.0,Japan,"Tokyo, Japan",http://www.sony.net,23,128400,22415,8.0

### Sorting Values

Select the company that employs the most people in China by first selecting all of the rows where the `country` column equals `China`:

In [38]:
selected_rows = f500[f500["country"] == "China"]

Use the `DataFrame.sort_values()` method to sort the rows on the `employees` column by passing the column name to the method:

In [39]:
sorted_rows = selected_rows.sort_values("employees")
sorted_rows[["company", "country", "employees"]].head()

                                company country  employees
204                         Noble Group   China       1000
458             Yango Financial Holding   China      10234
438  China National Aviation Fuel Group   China      11739
128                         Tewoo Group   China      17353
182            Amer International Group   China      17852

By default, the `sort_values()` method will sort the rows in _ascending_ order. To sort the rows in _descending_ order instead, we can set the `ascending` parameter to `False`.

In [40]:
sorted_rows = selected_rows.sort_values("employees", ascending=False)
sorted_rows[["company", "country", "employees"]].head()

                        company country  employees
3      China National Petroleum   China    1512048
118            China Post Group   China     941211
1                    State Grid   China     926067
2                 Sinopec Group   China     713288
37   Agricultural Bank of China   China     501368

1. Find the company headquartered in Japan with the largest number of employees.
- Select only the rows that have a country name equal to `Japan`.
- Use `DataFrame.sort_values()` to sort those rows _by_ the `employees` column in _descending_ order.
- Use `DataFrame.iloc[]` to select the first row from the sorted dataframe.
- Extract the company name from the index label `company` from the first row. Assign the result to `top_japanese_employer`.

In [41]:
selected_rows = f500[f500["country"] == "Japan"]
selected_rows

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8.0,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210,3.0
28,Honda Motor,29,129198,6.2,5690.3,170165,98.3,Takahiro Hachigo,Motor Vehicles and Parts,Motor Vehicles & Parts,36.0,Japan,"Tokyo, Japan",http://www.honda.com,23,211915,65482,7.0
32,Japan Post Holdings,33,122990,3.6,-267.4,2631385,-107.5,Masatsugu Nagato,"Insurance: Life, Health (stock)",Financials,37.0,Japan,"Tokyo, Japan",http://www.japanpost.jp,21,248384,91532,4.0
43,Nissan Motor,44,108164,6.5,6123.4,165344,40.3,Hiroto Saikawa,Motor Vehicles and Parts,Motor Vehicles & Parts,53.0,Japan,"Yokohama, Japan",http://www.nissan-global.com,23,137250,50550,9.0
49,Nippon Telegraph & Telephone,50,105128,9.4,7384.4,190740,20.2,Hiroo Unoura,Telecommunications,Telecommunications,60.0,Japan,"Tokyo, Japan",http://www.ntt.co.jp,23,274844,81254,10.0
70,Hitachi,71,84558,1.2,2134.3,86742,48.8,Toshiaki Higashihara,"Electronics, Electrical Equip.",Technology,79.0,Japan,"Tokyo, Japan",http://www.hitachi.com,23,303887,26632,8.0
71,SoftBank Group,72,82892,8.4,13163.4,221113,233.3,Masayoshi Son,Telecommunications,Telecommunications,92.0,Japan,"Tokyo, Japan",http://www.softbank.jp,10,68402,32191,20.0
86,AEON,87,75772,11.8,103.9,78223,108.6,Motoya Okada,General Merchandisers,Retailing,111.0,Japan,"Chiba, Japan",http://www.aeon.info,23,274760,9567,24.0
104,Sony,105,70170,3.9,676.4,158519,-45.1,Kazuo Hirai,"Electronics, Electrical Equip.",Technology,113.0,Japan,"Tokyo, Japan",http://www.sony.net,23,128400,22415,8.0
109,Panasonic,110,67775,6.7,1378.4,53702,0.2,Kazuhiro Tsuga,"Electronics, Electrical Equip.",Technology,128.0,Japan,"Osaka, Japan",http://www.panasonic.com/global,23,257533,14109,18.0
110,Nippon Life Insurance,111,67388,0.4,2786.9,650429,-17.1,Yoshinobu Tsutsui,"Insurance: Life, Health (Mutual)",Financials,114.0,Japan,"Osaka, Japan",http://www.nissay.co.jp,23,85171,17261,3.0
115,Marubeni,116,65792,8.2,1433.7,61904,176.4,Fumiya Kokubu,Trading,Wholesalers,138.0,Japan,"Tokyo, Japan",http://www.marubeni.com,23,39952,15113,22.0
126,JXTG Holdings,127,63629,1.8,1477.3,59767,NaN,Yukio Uchida,Petroleum Refining,Energy,131.0,Japan,"Tokyo, Japan",http://www.hd.jxtg-group.co.jp,23,26247,12829,4.0
141,Dai-ichi Life Holdings,142,59590,-2.5,2134.5,466617,43.5,Seiji Inagaki,"Insurance: Life, Health (stock)",Financials,135.0,Japan,"Tokyo, Japan",http://www.dai-ichi-life-hd.com,23,62606,11675,-7.0
144,Mitsubishi,145,59303,2.8,4063.5,141402,NaN,Takehiko Kakiuchi,Trading,Wholesalers,151.0,Japan,"Tokyo, Japan",http://www.mitsubishicorp.com,23,77164,44137,6.0
163,Mitsubishi UFJ Financial Group,164,55185,15.9,8550.1,2722354,7.9,Nobuyuki Hirano,Banks: Commercial and Savings,Financials,191.0,Japan,"Tokyo, Japan",http://www.mufg.jp,16,115276,110573,27.0
166,Seven & I Holdings,167,53858,7.5,892.9,49244,-33.0,Ryuichi Isaka,Food and Drug Stores,Food & Drug Stores,179.0,Japan,"Tokyo, Japan",http://www.7andi.com,12,54712,20086,12.0
184,Tokyo Electric Power,185,49446,-2.2,1225.7,110202,4.5,Naomi Hirose,Utilities,Energy,177.0,Japan,"Tokyo, Japan",http://www.tepco.co.jp,23,42060,20905,-8.0
187,MS&AD Insurance Group Holdings,188,49239,17.9,1942.2,190596,28.5,Yasuyoshi Karasawa,Insurance: Property and Casualty (Stock),Financials,231.0,Japan,"Tokyo, Japan",http://www.ms-ad-hd.com,19,40641,12793,43.0
192,Tokio Marine Holdings,193,48292,26.6,2527.4,202923,19.2,Tsuyoshi Nagano,Insurance: Property and Casualty (Stock),Financials,261.0,Japan,"Tokyo, Japan",http://www.tokiomarinehd.com,23,38842,16474,68.0
201,Sumitomo Mitsui Financial Group,202,47375,19.2,6520.5,1775349,21.0,Takeshi Kunibe,Banks: Commercial and Savings,Financials,243.0,Japan,"Tokyo, Japan",http://www.smfg.co.jp,23,77205,72876,41.0
214,Itochu,215,44654,5.5,3250.6,72902,62.3,Masahiro Okafuji,Trading,Wholesalers,223.0,Japan,"Osaka, Japan",http://www.itochu.co.jp,23,110207,21559,8.0
218,KDDI,219,43822,17.8,5045.1,56223,22.5,Takashi Tanaka,Telecommunications,Telecommunications,271.0,Japan,"Tokyo, Japan",http://www.kddi.com,20,35032,31904,52.0
227,Nippon Steel & Sumitomo Metal,228,42757,4.6,1208.5,65182,-0.2,Kosei Shindo,Metals,Materials,238.0,Japan,"Tokyo, Japan",http://www.nssmc.com,23,100169,23555,10.0
235,Denso,236,41781,10.9,2377.6,46233,16.9,Koji Arima,Motor Vehicles and Parts,Motor Vehicles & Parts,268.0,Japan,"Kariya, Japan",http://www.denso.com,23,154493,29735,32.0
236,Fujitsu,237,41620,5.4,816.7,28646,13.0,Tatsuya Tanaka,Information Technology Services,Technology,248.0,Japan,"Tokyo, Japan",http://www.fujitsu.com,23,155069,7910,11.0
241,Sumitomo Life Insurance,242,40921,31.6,517.5,308346,-6.1,Masahiro Hashimoto,"Insurance: Life, Health (Mutual)",Financials,335.0,Japan,"Osaka, Japan",http://www.sumitomolife.co.jp,23,42245,8491,93.0
248,Mitsui,249,40275,1.6,2825.3,103231,NaN,Tatsuo Yasunaga,Trading,Wholesalers,245.0,Japan,"Tokyo, Japan",http://www.mitsui.com,23,42316,33500,-4.0
261,Mitsubishi Electric,262,39119,6.9,1942.6,37519,2.1,Masaki Sakuyama,"Electronics, Electrical Equip.",Technology,276.0,Japan,"Tokyo, Japan",http://www.mitsubishielectric.com,23,138700,18307,14.0
281,Sumitomo,282,36888,10.4,1577.1,69669,154.0,Kuniharu Nakamura,Trading,Wholesalers,308.0,Japan,"Tokyo, Japan",http://www.sumitomocorp.co.jp,23,70900,21241,26.0
293,Mitsubishi Heavy Industries,294,36122,7.2,809.6,49205,52.3,Shunichi Miyanaga,Industrial Machinery,Industrials,307.0,Japan,"Tokyo, Japan",http://www.mhi.com,23,82728,15074,13.0
296,Meiji Yasuda Life Insurance,297,35767,0.4,2064.8,362739,15.8,Akio Negishi,"Insurance: Life, Health (Mutual)",Financials,284.0,Japan,"Tokyo, Japan",http://www.meijiyasuda.co.jp,23,41872,12074,-13.0
323,Aisin Seiki,324,32879,21.6,1168.9,29964,39.9,Yasumori Ihara,Motor Vehicles and Parts,Motor Vehicles & Parts,393.0,Japan,"Kariya, Japan",http://www.aisin.com,16,99389,11098,69.0
329,Daiwa House Industry,330,32421,21.9,1861.5,31917,115.8,Takeo Higuchi,"Engineering, Construction",Engineering & Construction,402.0,Japan,"Osaka, Japan",http://www.daiwahouse.co.jp,13,60539,10761,72.0
339,Sompo Holdings,340,31559,16.4,1535.7,107092,15.5,Kengo Sakurada,Insurance: Property and Casualty (Stock),Financials,388.0,Japan,"Tokyo, Japan",http://www.sompo-hd.com,21,47430,8424,48.0
346,Canon,347,31271,-0.4,1385.0,44062,-23.9,Fujio Mitarai,"Computers, Office Equipment",Technology,332.0,Japan,"Tokyo, Japan",http://www.canon.com,23,197673,23865,-15.0
348,Mitsubishi Chemical Holdings,349,31158,5.6,1442.1,40064,237.1,Hitoshi Ochi,Chemicals,Chemicals,324.0,Japan,"Tokyo, Japan",http://www.mitsubishichem-hd.co.jp,23,69291,9796,-25.0
351,Subaru,352,30696,14.0,2605.8,24794,-28.4,Yasuyuki Yoshinaga,Motor Vehicles and Parts,Motor Vehicles & Parts,395.0,Japan,"Tokyo, Japan",http://www.subaru.co.jp,15,36668,13285,43.0
352,Bridgestone,353,30678,-2.0,2441.3,31901,3.9,Masaaki Tsuya,Motor Vehicles and Parts,Motor Vehicles & Parts,333.0,Japan,"Tokyo, Japan",http://www.bridgestone.com,23,143616,20268,-20.0
355,JFE Holdings,356,30539,6.8,627.0,38920,123.6,Eiji Hayashida,Metals,Materials,371.0,Japan,"Tokyo, Japan",http://www.jfe-holdings.co.jp,15,60439,15632,15.0
356,Mizuho Financial Group,357,30390,13.5,5570.1,1799736,-0.3,Yasuhiro Sato,Banks: Commercial and Savings,Financials,399.0,Japan,"Tokyo, Japan",http://www.mizuho-fg.co.jp,17,59179,62843,42.0
366,Mazda Motor,367,29665,4.5,865.5,22660,-22.7,Masamichi Kogai,Motor Vehicles and Parts,Motor Vehicles & Parts,373.0,Japan,"Hiroshima, Japan",http://www.mazda.com,23,48849,8455,6.0
372,Suzuki Motor,373,29252,10.4,1476.2,27969,51.9,Toshihiro Suzuki,Motor Vehicles and Parts,Motor Vehicles & Parts,405.0,Japan,"Hamamatsu, Japan",http://www.globalsuzuki.com,23,62992,10318,32.0
380,Medipal Holdings,381,28277,12.1,267.7,13696,4.5,Shuichi Watanabe,Wholesalers: Health Care,Wholesalers,424.0,Japan,"Tokyo, Japan",http://www.medipal.co.jp,15,15745,3607,43.0
388,Kansai Electric Power,389,27792,2.8,1299.3,61513,10.8,Shigeki Iwane,Utilities,Energy,391.0,Japan,"Osaka, Japan",http://www.kepco.co.jp,23,32666,11205,2.0
407,East Japan Railway,408,26587,11.3,2565.0,71009,25.5,Tetsuro Tomita,Railroads,Transportation,447.0,Japan,"Tokyo, Japan",http://www.jreast.co.jp,23,85834,23253,39.0
419,Sumitomo Electric Industries,420,25975,6.3,992.7,26062,31.0,Masayoshi Matsumoto,Motor Vehicles and Parts,Motor Vehicles & Parts,440.0,Japan,"Osaka, Japan",http://www.global-sei.com,23,248330,11769,20.0
422,Idemitsu Kosan,423,25888,-1.0,813.7,23711,NaN,Takashi Tsukioka,Petroleum Refining,Energy,412.0,Japan,"Tokyo, Japan",http://www.idemitsu.com,23,9139,3852,-11.0
436,NEC,437,24596,4.5,252.0,24091,-60.1,Takashi Niino,Information Technology Services,Technology,452.0,Japan,"Tokyo, Japan",http://www.nec.com,23,107729,7668,15.0
450,Chubu Electric Power,451,24028,1.1,1058.2,48580,-25.2,Satoru Katsuno,Utilities,Energy,448.0,Japan,"Nagoya, Japan",http://www.chuden.co.jp,23,30635,14695,-3.0
460,Alfresa Holdings,461,23551,9.7,285.1,11273,-2.1,Taizo Kubo,Wholesalers: Health Care,Wholesalers,492.0,Japan,"Tokyo, Japan",http://www.alfresa.com,8,13217,2993,31.0

In [43]:
sorted_rows = selected_rows.sort_values("employees", ascending=False)
sorted_rows

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8.0,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210,3.0
70,Hitachi,71,84558,1.2,2134.3,86742,48.8,Toshiaki Higashihara,"Electronics, Electrical Equip.",Technology,79.0,Japan,"Tokyo, Japan",http://www.hitachi.com,23,303887,26632,8.0
49,Nippon Telegraph & Telephone,50,105128,9.4,7384.4,190740,20.2,Hiroo Unoura,Telecommunications,Telecommunications,60.0,Japan,"Tokyo, Japan",http://www.ntt.co.jp,23,274844,81254,10.0
86,AEON,87,75772,11.8,103.9,78223,108.6,Motoya Okada,General Merchandisers,Retailing,111.0,Japan,"Chiba, Japan",http://www.aeon.info,23,274760,9567,24.0
109,Panasonic,110,67775,6.7,1378.4,53702,0.2,Kazuhiro Tsuga,"Electronics, Electrical Equip.",Technology,128.0,Japan,"Osaka, Japan",http://www.panasonic.com/global,23,257533,14109,18.0
32,Japan Post Holdings,33,122990,3.6,-267.4,2631385,-107.5,Masatsugu Nagato,"Insurance: Life, Health (stock)",Financials,37.0,Japan,"Tokyo, Japan",http://www.japanpost.jp,21,248384,91532,4.0
419,Sumitomo Electric Industries,420,25975,6.3,992.7,26062,31.0,Masayoshi Matsumoto,Motor Vehicles and Parts,Motor Vehicles & Parts,440.0,Japan,"Osaka, Japan",http://www.global-sei.com,23,248330,11769,20.0
28,Honda Motor,29,129198,6.2,5690.3,170165,98.3,Takahiro Hachigo,Motor Vehicles and Parts,Motor Vehicles & Parts,36.0,Japan,"Tokyo, Japan",http://www.honda.com,23,211915,65482,7.0
346,Canon,347,31271,-0.4,1385.0,44062,-23.9,Fujio Mitarai,"Computers, Office Equipment",Technology,332.0,Japan,"Tokyo, Japan",http://www.canon.com,23,197673,23865,-15.0
236,Fujitsu,237,41620,5.4,816.7,28646,13.0,Tatsuya Tanaka,Information Technology Services,Technology,248.0,Japan,"Tokyo, Japan",http://www.fujitsu.com,23,155069,7910,11.0
235,Denso,236,41781,10.9,2377.6,46233,16.9,Koji Arima,Motor Vehicles and Parts,Motor Vehicles & Parts,268.0,Japan,"Kariya, Japan",http://www.denso.com,23,154493,29735,32.0
352,Bridgestone,353,30678,-2.0,2441.3,31901,3.9,Masaaki Tsuya,Motor Vehicles and Parts,Motor Vehicles & Parts,333.0,Japan,"Tokyo, Japan",http://www.bridgestone.com,23,143616,20268,-20.0
261,Mitsubishi Electric,262,39119,6.9,1942.6,37519,2.1,Masaki Sakuyama,"Electronics, Electrical Equip.",Technology,276.0,Japan,"Tokyo, Japan",http://www.mitsubishielectric.com,23,138700,18307,14.0
43,Nissan Motor,44,108164,6.5,6123.4,165344,40.3,Hiroto Saikawa,Motor Vehicles and Parts,Motor Vehicles & Parts,53.0,Japan,"Yokohama, Japan",http://www.nissan-global.com,23,137250,50550,9.0
104,Sony,105,70170,3.9,676.4,158519,-45.1,Kazuo Hirai,"Electronics, Electrical Equip.",Technology,113.0,Japan,"Tokyo, Japan",http://www.sony.net,23,128400,22415,8.0
163,Mitsubishi UFJ Financial Group,164,55185,15.9,8550.1,2722354,7.9,Nobuyuki Hirano,Banks: Commercial and Savings,Financials,191.0,Japan,"Tokyo, Japan",http://www.mufg.jp,16,115276,110573,27.0
214,Itochu,215,44654,5.5,3250.6,72902,62.3,Masahiro Okafuji,Trading,Wholesalers,223.0,Japan,"Osaka, Japan",http://www.itochu.co.jp,23,110207,21559,8.0
436,NEC,437,24596,4.5,252.0,24091,-60.1,Takashi Niino,Information Technology Services,Technology,452.0,Japan,"Tokyo, Japan",http://www.nec.com,23,107729,7668,15.0
227,Nippon Steel & Sumitomo Metal,228,42757,4.6,1208.5,65182,-0.2,Kosei Shindo,Metals,Materials,238.0,Japan,"Tokyo, Japan",http://www.nssmc.com,23,100169,23555,10.0
323,Aisin Seiki,324,32879,21.6,1168.9,29964,39.9,Yasumori Ihara,Motor Vehicles and Parts,Motor Vehicles & Parts,393.0,Japan,"Kariya, Japan",http://www.aisin.com,16,99389,11098,69.0
407,East Japan Railway,408,26587,11.3,2565.0,71009,25.5,Tetsuro Tomita,Railroads,Transportation,447.0,Japan,"Tokyo, Japan",http://www.jreast.co.jp,23,85834,23253,39.0
110,Nippon Life Insurance,111,67388,0.4,2786.9,650429,-17.1,Yoshinobu Tsutsui,"Insurance: Life, Health (Mutual)",Financials,114.0,Japan,"Osaka, Japan",http://www.nissay.co.jp,23,85171,17261,3.0
293,Mitsubishi Heavy Industries,294,36122,7.2,809.6,49205,52.3,Shunichi Miyanaga,Industrial Machinery,Industrials,307.0,Japan,"Tokyo, Japan",http://www.mhi.com,23,82728,15074,13.0
201,Sumitomo Mitsui Financial Group,202,47375,19.2,6520.5,1775349,21.0,Takeshi Kunibe,Banks: Commercial and Savings,Financials,243.0,Japan,"Tokyo, Japan",http://www.smfg.co.jp,23,77205,72876,41.0
144,Mitsubishi,145,59303,2.8,4063.5,141402,NaN,Takehiko Kakiuchi,Trading,Wholesalers,151.0,Japan,"Tokyo, Japan",http://www.mitsubishicorp.com,23,77164,44137,6.0
281,Sumitomo,282,36888,10.4,1577.1,69669,154.0,Kuniharu Nakamura,Trading,Wholesalers,308.0,Japan,"Tokyo, Japan",http://www.sumitomocorp.co.jp,23,70900,21241,26.0
348,Mitsubishi Chemical Holdings,349,31158,5.6,1442.1,40064,237.1,Hitoshi Ochi,Chemicals,Chemicals,324.0,Japan,"Tokyo, Japan",http://www.mitsubishichem-hd.co.jp,23,69291,9796,-25.0
71,SoftBank Group,72,82892,8.4,13163.4,221113,233.3,Masayoshi Son,Telecommunications,Telecommunications,92.0,Japan,"Tokyo, Japan",http://www.softbank.jp,10,68402,32191,20.0
372,Suzuki Motor,373,29252,10.4,1476.2,27969,51.9,Toshihiro Suzuki,Motor Vehicles and Parts,Motor Vehicles & Parts,405.0,Japan,"Hamamatsu, Japan",http://www.globalsuzuki.com,23,62992,10318,32.0
141,Dai-ichi Life Holdings,142,59590,-2.5,2134.5,466617,43.5,Seiji Inagaki,"Insurance: Life, Health (stock)",Financials,135.0,Japan,"Tokyo, Japan",http://www.dai-ichi-life-hd.com,23,62606,11675,-7.0
329,Daiwa House Industry,330,32421,21.9,1861.5,31917,115.8,Takeo Higuchi,"Engineering, Construction",Engineering & Construction,402.0,Japan,"Osaka, Japan",http://www.daiwahouse.co.jp,13,60539,10761,72.0
355,JFE Holdings,356,30539,6.8,627.0,38920,123.6,Eiji Hayashida,Metals,Materials,371.0,Japan,"Tokyo, Japan",http://www.jfe-holdings.co.jp,15,60439,15632,15.0
356,Mizuho Financial Group,357,30390,13.5,5570.1,1799736,-0.3,Yasuhiro Sato,Banks: Commercial and Savings,Financials,399.0,Japan,"Tokyo, Japan",http://www.mizuho-fg.co.jp,17,59179,62843,42.0
166,Seven & I Holdings,167,53858,7.5,892.9,49244,-33.0,Ryuichi Isaka,Food and Drug Stores,Food & Drug Stores,179.0,Japan,"Tokyo, Japan",http://www.7andi.com,12,54712,20086,12.0
366,Mazda Motor,367,29665,4.5,865.5,22660,-22.7,Masamichi Kogai,Motor Vehicles and Parts,Motor Vehicles & Parts,373.0,Japan,"Hiroshima, Japan",http://www.mazda.com,23,48849,8455,6.0
339,Sompo Holdings,340,31559,16.4,1535.7,107092,15.5,Kengo Sakurada,Insurance: Property and Casualty (Stock),Financials,388.0,Japan,"Tokyo, Japan",http://www.sompo-hd.com,21,47430,8424,48.0
248,Mitsui,249,40275,1.6,2825.3,103231,NaN,Tatsuo Yasunaga,Trading,Wholesalers,245.0,Japan,"Tokyo, Japan",http://www.mitsui.com,23,42316,33500,-4.0
241,Sumitomo Life Insurance,242,40921,31.6,517.5,308346,-6.1,Masahiro Hashimoto,"Insurance: Life, Health (Mutual)",Financials,335.0,Japan,"Osaka, Japan",http://www.sumitomolife.co.jp,23,42245,8491,93.0
184,Tokyo Electric Power,185,49446,-2.2,1225.7,110202,4.5,Naomi Hirose,Utilities,Energy,177.0,Japan,"Tokyo, Japan",http://www.tepco.co.jp,23,42060,20905,-8.0
296,Meiji Yasuda Life Insurance,297,35767,0.4,2064.8,362739,15.8,Akio Negishi,"Insurance: Life, Health (Mutual)",Financials,284.0,Japan,"Tokyo, Japan",http://www.meijiyasuda.co.jp,23,41872,12074,-13.0
187,MS&AD Insurance Group Holdings,188,49239,17.9,1942.2,190596,28.5,Yasuyoshi Karasawa,Insurance: Property and Casualty (Stock),Financials,231.0,Japan,"Tokyo, Japan",http://www.ms-ad-hd.com,19,40641,12793,43.0
115,Marubeni,116,65792,8.2,1433.7,61904,176.4,Fumiya Kokubu,Trading,Wholesalers,138.0,Japan,"Tokyo, Japan",http://www.marubeni.com,23,39952,15113,22.0
192,Tokio Marine Holdings,193,48292,26.6,2527.4,202923,19.2,Tsuyoshi Nagano,Insurance: Property and Casualty (Stock),Financials,261.0,Japan,"Tokyo, Japan",http://www.tokiomarinehd.com,23,38842,16474,68.0
351,Subaru,352,30696,14.0,2605.8,24794,-28.4,Yasuyuki Yoshinaga,Motor Vehicles and Parts,Motor Vehicles & Parts,395.0,Japan,"Tokyo, Japan",http://www.subaru.co.jp,15,36668,13285,43.0
218,KDDI,219,43822,17.8,5045.1,56223,22.5,Takashi Tanaka,Telecommunications,Telecommunications,271.0,Japan,"Tokyo, Japan",http://www.kddi.com,20,35032,31904,52.0
388,Kansai Electric Power,389,27792,2.8,1299.3,61513,10.8,Shigeki Iwane,Utilities,Energy,391.0,Japan,"Osaka, Japan",http://www.kepco.co.jp,23,32666,11205,2.0
450,Chubu Electric Power,451,24028,1.1,1058.2,48580,-25.2,Satoru Katsuno,Utilities,Energy,448.0,Japan,"Nagoya, Japan",http://www.chuden.co.jp,23,30635,14695,-3.0
126,JXTG Holdings,127,63629,1.8,1477.3,59767,NaN,Yukio Uchida,Petroleum Refining,Energy,131.0,Japan,"Tokyo, Japan",http://www.hd.jxtg-group.co.jp,23,26247,12829,4.0
380,Medipal Holdings,381,28277,12.1,267.7,13696,4.5,Shuichi Watanabe,Wholesalers: Health Care,Wholesalers,424.0,Japan,"Tokyo, Japan",http://www.medipal.co.jp,15,15745,3607,43.0
460,Alfresa Holdings,461,23551,9.7,285.1,11273,-2.1,Taizo Kubo,Wholesalers: Health Care,Wholesalers,492.0,Japan,"Tokyo, Japan",http://www.alfresa.com,8,13217,2993,31.0
422,Idemitsu Kosan,423,25888,-1.0,813.7,23711,NaN,Takashi Tsukioka,Petroleum Refining,Energy,412.0,Japan,"Tokyo, Japan",http://www.idemitsu.com,23,9139,3852,-11.0

In [45]:
top_japanese_employer = sorted_rows.iloc[0]["company"]
top_japanese_employer

'Toyota Motor'

### Using Loops with pandas

Loops for the purpose of aggregation:

If we wanted to calcualte the average revenue for each country in the data set, our process may look like this:
- Identify each unique country in the data set using the `Series.unique()` method.
- For each country:
    - Select only the rows corresponding to that country.
    - Calculate the average revenue for those rows.

In [46]:
# Create an empty dictionary to store the results
avg_rev_by_country = {}

# Create an array of unique countries
countries = f500["country"].unique()

# Use a for loop to iterate over the countries
for c in countries:
    # Use boolean comparison to select only rows that
    # correspond to a specific country
    selected_rows = f500[f500["country"] == c]
    # Calculate the mean average revenue for just those rows
    mean = selected_rows["revenues"].mean()
    # Assign the mean value to the dictionary, using the
    # country name as the key
    avg_rev_by_country[c] = mean

In [47]:
avg_rev_by_country

{'USA': 64218.371212121216,
 'China': 55397.880733944956,
 'Japan': 53164.03921568627,
 'Germany': 63915.0,
 'Netherlands': 61708.92857142857,
 'Britain': 51588.708333333336,
 'South Korea': 49725.6,
 'Switzerland': 51353.57142857143,
 'France': 55231.793103448275,
 'Taiwan': 46364.666666666664,
 'Singapore': 54454.333333333336,
 'Italy': 51899.57142857143,
 'Russia': 65247.75,
 'Spain': 40600.666666666664,
 'Brazil': 52024.57142857143,
 'Mexico': 54987.5,
 'Luxembourg': 56791.0,
 'India': 39993.0,
 'Malaysia': 49479.0,
 'Thailand': 48719.0,
 'Australia': 33688.71428571428,
 'Belgium': 45905.0,
 'Norway': 45873.0,
 'Canada': 31848.0,
 'Ireland': 32819.5,
 'Indonesia': 36487.0,
 'Denmark': 35464.0,
 'Saudi Arabia': 35421.0,
 'Sweden': 27963.666666666668,
 'Finland': 26113.0,
 'Venezuela': 24403.0,
 'Turkey': 23456.0,
 'U.A.E': 22799.0,
 'Israel': 21903.0}

1. Create an empty dictionary, `top_employer_by_country` to store the results of the exercise.

In [48]:
top_employer_by_country = {}

2. Use the `Series.unique()` method to create an array of unique values from the `country` column.

In [49]:
countries = f500["country"].unique()
countries

array(['USA', 'China', 'Japan', 'Germany', 'Netherlands', 'Britain',
       'South Korea', 'Switzerland', 'France', 'Taiwan', 'Singapore',
       'Italy', 'Russia', 'Spain', 'Brazil', 'Mexico', 'Luxembourg',
       'India', 'Malaysia', 'Thailand', 'Australia', 'Belgium', 'Norway',
       'Canada', 'Ireland', 'Indonesia', 'Denmark', 'Saudi Arabia',
       'Sweden', 'Finland', 'Venezuela', 'Turkey', 'U.A.E', 'Israel'],
      dtype=object)

3. Use a for loop to iterate over the array unqiue countries. In each iteration:
- Select only the rows that have a country name equal to the current iteration.
- Use `DataFrame.sort_values()` to sort those rows _by_ the `employees` column in _descending_ order.
- Select the first row from the sorted dataframe.
- Extract the company name from the index label `company` from the first row.
- Assign the results to the `top_employer_by_country` dictionary, using the country name as the key, and the compnay name as the value.

In [51]:
for c in countries:
    selected_rows = f500[f500["country"] == c]
    sorted_rows = selected_rows.sort_values("employees", ascending=False)
    top_employer = sorted_rows.iloc[0]
    employer_name = top_employer["company"]
    top_employer_by_country[c] = employer_name

In [52]:
top_employer_by_country

{'USA': 'Walmart',
 'China': 'China National Petroleum',
 'Japan': 'Toyota Motor',
 'Germany': 'Volkswagen',
 'Netherlands': 'EXOR Group',
 'Britain': 'Compass Group',
 'South Korea': 'Samsung Electronics',
 'Switzerland': 'Nestle',
 'France': 'Sodexo',
 'Taiwan': 'Hon Hai Precision Industry',
 'Singapore': 'Flex',
 'Italy': 'Poste Italiane',
 'Russia': 'Gazprom',
 'Spain': 'Banco Santander',
 'Brazil': 'JBS',
 'Mexico': 'America Movil',
 'Luxembourg': 'ArcelorMittal',
 'India': 'State Bank of India',
 'Malaysia': 'Petronas',
 'Thailand': 'PTT',
 'Australia': 'Wesfarmers',
 'Belgium': 'Anheuser-Busch InBev',
 'Norway': 'Statoil',
 'Canada': 'George Weston',
 'Ireland': 'Accenture',
 'Indonesia': 'Pertamina',
 'Denmark': 'Maersk Group',
 'Saudi Arabia': 'SABIC',
 'Sweden': 'H & M Hennes & Mauritz',
 'Finland': 'Nokia',
 'Venezuela': 'Mercantil Servicios Financieros',
 'Turkey': 'Koc Holding',
 'U.A.E': 'Emirates Group',
 'Israel': 'Teva Pharmaceutical Industries'}

### Challenge: Calculating Return on Assets by Country

Return on assets (ROA) is a business-specific metric which indicates a company's ability to make profit using their available assets.

`return on assets = profit / assets`

1. Create a new column `roa` in the `f500` dataframe, containing the return on assets metric for each company.

In [53]:
f500["roa"] = f500["profits"] / f500["assets"]
f500.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change,roa
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798,0.0,0.068618
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456,0.0,0.019540
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19,713288,106523,1.0,0.004048
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893,-1.0,0.003189
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8.0,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210,3.0,0.038620

2. Aggregate the data by the `sector` column, and create a dictionary `top_roa_by_sector`, with:
- Dictionary keys with the sector name.
- Dictionary values with the company name with the highest ROA value from that sector.

In [54]:
top_roa_by_sector = {}

In [55]:
for sector in f500["sector"].unique():
    is_sector = f500["sector"] == sector
    sector_companies = f500.loc[is_sector]
    top_company = sector_companies.sort_values("roa", ascending=False).iloc[0]
    company_name = top_company["company"]
    top_roa_by_sector[sector] = company_name

In [56]:
top_roa_by_sector

{'Retailing': 'H & M Hennes & Mauritz',
 'Energy': 'National Grid',
 'Motor Vehicles & Parts': 'Subaru',
 'Financials': 'Berkshire Hathaway',
 'Technology': 'Accenture',
 'Wholesalers': 'McKesson',
 'Health Care': 'Gilead Sciences',
 'Telecommunications': 'KDDI',
 'Engineering & Construction': 'Pacific Construction Group',
 'Industrials': '3M',
 'Food & Drug Stores': 'Publix Super Markets',
 'Aerospace & Defense': 'Lockheed Martin',
 'Food, Beverages & Tobacco': 'Philip Morris International',
 'Household Products': 'Unilever',
 'Transportation': 'Delta Air Lines',
 'Materials': 'CRH',
 'Chemicals': 'LyondellBasell Industries',
 'Media': 'Disney',
 'Apparel': 'Nike',
 'Hotels, Restaurants & Leisure': 'McDonalds',
 'Business Services': 'Adecco Group'}